{% extends 'base.html' %} {% block content %}
<form
  class="text-center border border-light p-5"
  method="POST"
  enctype="multipart/form-data"
>
  <p class="h4 mb-4">Edit an event</p>

  {% csrf_token %} {% for field in form %}
  <p>
    {{field}} {% if field.help_text %}
    <small style="color: grey">{{field.help_text}}</small>
    {% endif %}
  </p>
  {% endfor %} {% for field in form %} {% for error in field.errors %}
  <p style="color: red">{{error}}</p>
  {% endfor %} {% endfor %} {% if form.non_field_errors %}
  <div style="color: red">
    <p>{{form.non_field_errors}}</p>
  </div>
  {% endif %}

  <button
    class="btn btn-info btn-block my-4"
    style="background-color: #37517e"
    type="submit"
  >
    Make Changes
  </button>
</form>
<!-- JavaScript to ensure the slugs are filled properly -->
<script>
  const titleInput = document.querySelector("input[name=event_name]");
  const slugInput = document.querySelector("input[name=slug]");

  const slugify = (val) => {
    return val
      .toString()
      .toLowerCase()
      .trim()
      .replace(/&/g, "-and-") // Replace & with 'and'
      .replace(/[\s\W-]+/g, "-"); // Replace spaces, non-word characters and dashes with a single dash (-)
  };

  titleInput.addEventListener("keyup", (e) => {
    slugInput.setAttribute("value", slugify(titleInput.value));
  });
</script>

{% endblock %}
