{% extends 'base.html' %} {% block content %} {% if event_today %}

<section id="skills" class="skills">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Today's Events</h2>
    </div>
    <div class="event-container animated bounce">
      {% for event in event_today %}
      <div class="event">
        <p>Name: <b>{{ event.event_name }}</b></p>
        <p>Start Date: <b>{{ event.date }}</b></p>
        <p>Start Time: <b>{{ event.time }}</b></p>
        {% if event.reg %}
        <a href="{{event.reg}}">Event Link</a>
        {% endif %}
        <br />
        <hr />
        <a href="{% url 'articles:detail' slug=event.slug %}">More info</a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% endif %}
<!-- <section id="skills" class="skills container-fluid"> -->
<div style="display: grid; place-items: center; margin:10vh 5vw 0 5vw; align-items: center; justify-content: center;">
  <marquee height="100%" direction="left">
    <h4>Check out what's happening with IEEE Globally at <a href={% url 'global_events' %}>IEEE Global Updates Page</a>
    </h4>
  </marquee>
</div>
<!-- </section> -->
{% if eventnew %}
<section id="skills" class="skills">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Upcoming events</h2>
    </div>

    <div class="event-container animated bounce">
      {% for event in eventnew %}
      <div class="event">
        <p>Name: <b>{{ event.event_name }}</b></p>
        <p>Start Date: <b>{{ event.date }}</b></p>
        <p>Time: <b>{{ event.time }}</b></p>
        {% if event.reg %}
        <a href="{{event.reg}}">Event Link</a>
        {% endif %}
        <br />
        <hr />
        <a href="{% url 'articles:detail' slug=event.slug %}">More info</a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% endif %} {% if eventold %}
<section id="skills" class="skills">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Past Events</h2>
    </div>
    <div class="event-container">
      {% for event in eventold %}
      <div class="event">
        <p>Name: <b>{{ event.event_name }}</b></p>
        <p>Start Date: <b>{{ event.date }}</b></p>
        <p>Start Time: <b>{{ event.time }}</b></p>
        {% if event.remember_link %}
        <a href="{{event.reg}}">Event Link</a>
        {% endif %}
        <br />
        <hr />
        <a href="{% url 'articles:detail' slug=event.slug %}">More info</a>
      </div>
      {% endfor %}

    </div>
    {% if eventscount > three %}
    <a class="btn btn-info btn-block my-4" style="background-color: #37517e;max-width:45%;margin:auto;"
      href="{% url 'articles:old_events' %}">More
      events </a>
    {% endif %}
  </div>

</section>


{% endif %} {% endblock %}