{% extends 'base.html' %} {% block content %}
<!-- <img src="{{ event.poster.url }}" alt="not decided default">
<h1>Name: {{ event.event_name }}</h1>
<p>Date: {{event.date}}</p>
<p>Time: {{event.time}}</p>
<p>Organizer(s): {{event.orgzer}}</p>
<p>Will be held at(/in): {{event.location}}</p>
<p>description: {{event.description}}</p>
<p>{{event.description}}</p>
{% if event.winners != 'Not Yet Decided' %}
<p>Winner(s): {{event.winners}}</p>
{% endif %}
<a href="{{event.reg}}">Link to register</a> -->
<section id="skills" class="skills" data-aos="fade-up">
  <div class="section-title">
    <h2>{{ event.event_name }}</h2>
  </div>
</section>
<div class="container" data-aos="fade-up">
  <!-- <img
    loading="lazy"
    class="img-thumbnail"
    src="{{ event.poster.url }}"
    alt="not decided default"
    style="max-width: 100%; padding: 12ppx"
  /> -->
  <div class="data p-2">
    <p class="info" style="margin-top: 20px">Date: <b>{{event.date}}</b></p>
    <p class="info">Time: <b>{{event.time}}</b></p>
    <p class="info">Organizer(s): <b>{{event.orgzer}}</b></p>
    <p>Will be held at(/in): <b>{{event.location}}</b></p>
    <p>description: <b>{{event.description}}</b></p>
    {% if event.winners != 'Not Yet Decided' %}
    <p>Winner(s): <b>{{event.winners}}</b></p>
    {% endif %}
    <a href="{{event.reg}}">Link to register</a>
  </div>
</div>

{% endblock %}