{% extends 'base.html' %} {% block content %} {% if event_today %}
<section id="skills" class="skills">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Today's Events</h2>
    </div>
    <div class="event-container animated bounce">
      {% for event in event_today %}
      <div class="event">
        <p>Name: <b>{{ event.event_name }}</b></p>
        <p>Start Date: <b>{{ event.date }}</b></p>
        <p>Start Time: <b>{{ event.time }}</b></p>
        <a href="{{event.reg}}">Link to register</a>
        <br />
        <hr />
        <a href="{% url 'articles:detail' slug=event.slug %}">More info</a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endif %} {% if eventnew %}
<section id="skills" class="skills">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Upcoming events</h2>
    </div>
    <div class="event-container animated bounce">
      {% for event in eventnew %}
      <div class="event">
        <p>Name: <b>{{ event.event_name }}</b></p>
        <p>Start Date: <b>{{ event.date }}</b></p>
        <p>Time: <b>{{ event.time }}</b></p>
        <a href="{{event.reg}}">Link to register</a>
        <br />
        <hr />
        <a href="{% url 'articles:detail' slug=event.slug %}">More info</a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endif %} {% if eventold %}
<section id="skills" class="skills">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Past Events</h2>
    </div>
    <div class="event-container">
      {% for event in eventold %}
      <div class="event">
        <p>Name: <b>{{ event.event_name }}</b></p>
        <p>Start Date: <b>{{ event.date }}</b></p>
        <p>Start Time: <b>{{ event.time }}</b></p>
        <br />
        <hr />
        <a href="{% url 'articles:detail' slug=event.slug %}">More info</a>
      </div>
      {% endfor %}

    </div>
    {% if eventscount > three %}
    <a class="btn btn-info btn-block my-4" style="background-color: #37517e;max-width:45%;margin:auto;"
      href="{% url 'articles:old_events' %}">More
      events </a>
    {% endif %}
  </div>

</section>

{% endif %} {% endblock %}