{% extends 'base.html' %} {% block content %}

<section id="skills" class="skills" data-aos="fade-up">
  <div class="section-title">
    <h2>{{ event.event_name }}</h2>
  </div>
</section>
<div class="container" data-aos="fade-up">

  <div class="data p-2">
    <p class="info" style="margin-top: 20px">Start Date: <b>{{event.date}}</b></p>
    <p class="info">Start Time: <b>{{event.time}}</b></p>
    <p class="info">Organizer(s): <b>{{event.orgzer}}</b></p>
    {% if event.location %}
    <p>Will be held at(/in): <b>{{event.location}}</b></p>
    {% endif %}
    <p>Description: <b>{{event.description | safe | linebreaks}}</b></p>
    {% if event.winners != 'Not Yet Decided' %}
    <p>Winner(s): <b>{{event.winners | safe | linebreaks }}</b></p>
    {% endif %}
    {% if event.date >= today %}
    {% if event.reg %}
    <a href="{{event.reg}}">Event Link</a>
    {% endif %}
    {% endif %}
  </div>
</div>

{% endblock %}