<style>
    .calendar {
        max-width: 98%;
        margin: auto;
        font-size: 13px;
    }

    .calendar tr,
    .calendar td {
        border: 1px solid black;
    }

    .calendar th {
        padding: 10px;
        text-align: center;
        font-size: 18px;
    }

    .calendar td {
        width: 200px;
        height: 150px;
        padding: 20px 0px 0px 5px;
    }

    .month {
        font-size: 25px;
    }

    .date {
        font-size: 16px;
    }

    ul {
        height: 100%;
        padding: 0px 5px 0px 20px;
    }

    a {
        color: #17a2b8;
    }
</style>
<table border="0" cellpadding="0" cellspacing="0" class="calendar">
    <tr>
        <th colspan="7" class="month">February 2021</th>
    </tr>
    <tr>
        <th class="mon">Mon</th>
        <th class="tue">Tue</th>
        <th class="wed">Wed</th>
        <th class="thu">Thu</th>
        <th class="fri">Fri</th>
        <th class="sat">Sat</th>
        <th class="sun">Sun</th>
    </tr>
    <tr>
        <td><span class='date'>1</span>
            <ul> </ul>
        </td>
        <td><span class='date'>2</span>
            <ul> </ul>
        </td>
        <td><span class='date'>3</span>
            <ul> </ul>
        </td>
        <td><span class='date'>4</span>
            <ul> </ul>
        </td>
        <td><span class='date'>5</span>
            <ul> </ul>
        </td>
        <td><span class='date'>6</span>
            <ul> </ul>
        </td>
        <td><span class='date'>7</span>
            <ul> </ul>
        </td>
    </tr>
    <tr>
        <td><span class='date'>8</span>
            <ul> </ul>
        </td>
        <td><span class='date'>9</span>
            <ul> </ul>
        </td>
        <td><span class='date'>10</span>
            <ul> </ul>
        </td>
        <td><span class='date'>11</span>
            <ul> </ul>
        </td>
        <td><span class='date'>12</span>
            <ul> </ul>
        </td>
        <td><span class='date'>13</span>
            <ul> </ul>
        </td>
        <td><span class='date'>14</span>
            <ul> </ul>
        </td>
    </tr>
    <tr>
        <td><span class='date'>15</span>
            <ul> </ul>
        </td>
        <td><span class='date'>16</span>
            <ul> </ul>
        </td>
        <td><span class='date'>17</span>
            <ul> </ul>
        </td>
        <td><span class='date'>18</span>
            <ul>
                <li> CodeFury 4.0 </li>
            </ul>
        </td>
        <td><span class='date'>19</span>
            <ul> </ul>
        </td>
        <td><span class='date'>20</span>
            <ul> </ul>
        </td>
        <td><span class='date'>21</span>
            <ul> </ul>
        </td>
    </tr>
    <tr>
        <td><span class='date'>22</span>
            <ul> </ul>
        </td>
        <td><span class='date'>23</span>
            <ul> </ul>
        </td>
        <td><span class='date'>24</span>
            <ul> </ul>
        </td>
        <td><span class='date'>25</span>
            <ul> </ul>
        </td>
        <td><span class='date'>26</span>
            <ul> </ul>
        </td>
        <td><span class='date'>27</span>
            <ul> </ul>
        </td>
        <td><span class='date'>28</span>
            <ul> </ul>
        </td>
    </tr>
</table>
<h1>this</h1>