{% extends 'base.html' %}
{% load static %}
{% block home_red %}
#
{% endblock %}
{% block styling %}
<style>
    .image-banner {
        background-image: url("{% static 'img/ieeebanner-1000.webp' %}");
    }

    @media screen and (max-width: 500px) {
        .image-banner {
            background-image: url("{% static 'img/ieeebanner-500.webp' %}");
        }
    }

    .modal-header {
        margin-bottom: 0;
        margin: auto;
    }

    .modal-body {
        margin: 16px;
    }
</style>
{% endblock %}
{% block home %}
<li style="display: none;"></li>
<li class="drop-down ">



    <a href="javascript:;">About</a>

    <!-- <a href="javascript:;">Accounts </a> -->

    <ul>
        <li class="drop-down">
            {% if updates %}
        <li>
            <a href="#updates">Updates</a>
        </li>
        {% endif %}
        <li>
            <a href="#fests">Flagship Events</a>
        </li>
        <li>
            <a href="#sig">SIGs</a>
        </li>
        <li>
            <a href="#awrds">Awards</a>
        </li>
        <li><a href="#contacts">Contact</a></li>
</li>

</ul>
</li>




{% endblock %}
{% load static %}
{% block hero %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center" style="height:100vh;background-image:url('https://cdn.dribbble.com/users/1083431/screenshots/3269881/gif.gif');box-shadow:inset 0px 100vh 0px rgba(55, 81, 126, 0.85);background-position:center center;">
    <div class="container" >
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
                data-aos="fade-up" data-aos-delay="200">
                <h1>IEEE UVCE</h1>
                <h2>Striding Ahead! </h2>
                <!-- pds ma'am's note  -->

                <a data-toggle="modal" data-target="#messageModal">
                    <h2 style="color:white; cursor: pointer;">Welcome to IEEE UVCE!</h2>
                </a>
                <div class="d-lg-flex">

                    <a target="_blank" href="https://youtu.be/vXepHeknDwk" class="venobox btn-watch-video"
                        data-vbtype="video" data-autoplay="true">
                        View Highlights <i class="icofont-play-alt-2"></i></a>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">

                <img src="{% static 'img/head-500-new.webp' %}"
                    srcset="{% static 'img/head-500-new.webp' %} 500w, {% static 'img/newteam.webp' %} 1000w"
                    class="img-fluid animated" alt="" />

            </div>

        </div>

    </div>

</section>
<div class="modal fade" id="messageModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title" style="color:#37517e">Message from the Branch Advisor</h4>

            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <p>Let us take IEEE UVCE a step ahead and promote technical tempor among all our student members,
                    prepare
                    them for career and higher education. Let us take IEEE UVCE a step ahead and make the best ave
                    hearty
                    volunteers. Let us take another step ahead and conduct events which make an impact in everyone's
                    mind
                    and henceforth benefit the society we live in, encourage and build over many society chapters and
                    conduct quality, world class competitions. With all these steps together, let's stride ahead with
                    IEEE
                    UVCE, soaring to the sky but yet, still rooted in its true values, ideals and morales.
                </p>
                <span style="text-align: right;">
                    <p style="color:#37517e; margin-bottom:2px;">-Dr. P Deepa Shenoy</p>
                    <p style="color:#37517e; margin-bottom:2px;">Chair-Elect, IEEE Bangalore Section</p>
                    <p style="color:#37517e">Branch Advisor, IEEE UVCE SB</p>
                </span>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
<div class="" id="contacts"></div>
<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Contact</h2>

        </div>


        <div class="info">
            <div class="row">
                <div class="col-sm-6">

                    <div class="email">
                        <i class="icofont-linkedin"></i>
                        <a href="https://www.linkedin.com/in/ieee-uvce-66563332" target="_blank">
                            <h4>LinkedIn</h4>
                            <p>IEEE UVCE</p>
                        </a>

                    </div>
                    <div class="email">
                        <a href="https://twitter.com/ieeeuvce?s=09" target="_blank">
                            <i class="icofont-twitter"></i>
                            <h4>Twitter</h4>
                            <p>ieeeuvce</p>
                        </a>
                    </div>

                </div>
                <div class="col-sm-6">
                    <div class="address">
                        <a href="https://www.facebook.com/ieeeuvce" target="_blank">
                            <i class="icofont-facebook"></i>
                            <h4>Facebook</h4>
                            <p>IEEE UVCE</p>
                        </a>

                    </div>

                    <div class="address">
                        <a href="https://instagram.com/ieeeuvce?igshid=13ji244uruko2" target="_blank">
                            <i class="icofont-instagram"></i>
                            <h4>Instagram</h4>
                            <p>ieeeuvce</p>
                        </a>
                    </div>




                </div>
            </div>
            <!-- <iframe src="https://g.page/uvce-karnataka?share" frameborder="0"
                        style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe> -->
            <!-- <iframe loading="lazy" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1943.9630270460852!2d77.58611743414656!3d12.976581321730407!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1672fcfc6af1%3A0x9c2dc517c9231979!2sUVCE!5e0!3m2!1sen!2sin!4v1601372663946!5m2!1sen!2sin" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe> -->

        </div>

    </div>
    <hr>
    <div class="footer-copyright text-center py-3" data-aos="fade-up">
        <h5><a href="mailto:mohithvarmavs@ieee.org"><i class="icofont-envelope"></i> Mohith Varma V S</a></h5>
        <h6><a target="_blank"
                href="https://www.google.com/maps/place/UVCE/@12.9753541,77.5845553,17z/data=!3m1!4b1!4m5!3m4!1s0x3bae1672fcfc6af1:0x9c2dc517c9231979!8m2!3d12.9753821!4d77.586793"><i
                    class="icofont-google-map"></i>
                UVCE, K.R Circle, B.R Ambedkar Veedhi, Bengaluru </a></h6>
        Web Masters: 
        <br>
        <a href="mailto:karthikkssuresh@gmail.com">Karthik K S</a>
        <br>
        <a href="mailto:keerthireddync@gmail.com">Keerthi N C</a>
        <br>

        <a href="mailto:prajwal.upoojari4@gmail.com">Prajwal Poojari</a>
        <br>
        <a href="mailto:knabhishek02@gmail.com">Abhishek K N</a>
        <br>
        <a href="mailto:kondauma95@gmail.com">K Uma Maheshwari</a>
        <br>

        <a href="mailto:vishalvinayram5432@gmail.com">Vishal Vinay Ram</a>
        <br>
        <br>
        © 2020 Copyright:
        <a href="{% url 'home_page' %}"> IEEE UVCE</a>
        <br>

    </div>
    </div>
</section>
{% endblock %}
{% block content %}

<!-- ======= About Us Section ======= -->
<section id="Fests" class="Fests">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>IEEE UVCE</h2>
        </div>

        <div class="row content p-5">
            <div class="p-2 " style="text-align: justify;">
                <p>
                    The IEEE Student Branch of UVCE has been interminably striving to hoist the student community and
                    empower its members to enhance their learning experience. The organization's commitment to enhancing
                    and upgrading the core knowledge base of the students to the industry standards is reflected in the
                    host of social, cultural and technical activities organized by it throughout the year. Rekindled in
                    2001, the student branch has come to be one of the most recognized student branches across the
                    Region 10 of IEEE, enabling it's members to make full use of their IEEE membership and encouraging
                    them to be a part of the global IEEE community.

                </p>

            </div>
        </div>

    </div>
</section>
<!-- End About Us Section -->
<!-- Update section  -->
{% if updates %}
<div id="updates"></div>
<section id="skills" class="skills">
    <div class="container" data-aos="fade-up" style="text-align: center;margin:auto">

        <div class="section-title">
            <h2>Updates</h2>
        </div>
        <marquee width="100%" direction="up" height="150px">
            {% for update in updates %}

            <ul style="list-style-type: none;">
                <li>
                    <b>{{ update.title}}</b>: {{ update.Update | safe |linebreaks}}
                </li>
            </ul>

            {% endfor %}
        </marquee>

    </div>
</section>
{% endif %}
<div class="" id="fests"></div>
<section id="why-us" class="why-us section-bg">
    <div class="container-fluid" data-aos="fade-up">
        <div class="section-title">
            <h2>Flagship Events</h2>
        </div>
        <div class="row">

            <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

                <div class="content">

                    <!-- <h3><strong>Flagship events</strong></h3> -->

                </div>

                <div class="accordion-list">
                    <ul>
                        <li>
                            <a data-toggle="collapse" class="collapse" href="#accordion-list-1">
                                IMPETUS<i class="bx bx-chevron-down icon-show"></i><i
                                    class="bx bx-chevron-up icon-close"></i></a>
                            <div id="accordion-list-1" class="collapse show" data-parent=".accordion-list"
                                style="text-align: justify;">
                                <p>
                                    IMPETUS is IEEE UVCE's National level Technical Extravaganza started in the year
                                    2001. For twenty one years now, it has been serving as a platform for the students to
                                    showcase their skills and share their views. It brings together the brilliant minds,
                                    whose direction of thought has been streamlined by extensive knowledge, to compete
                                    in an arena marked by fight for creativity, excellence and innovation. Held on an
                                    inter-collegiate level, this fest sees a footfall of over 1000 students every year.
                                    IMPETUS is a technical fest designed for a change and with vivid difference.
                                </p>
                            </div>
                        </li>

                        <li>
                            <a data-toggle="collapse" href="#accordion-list-2" class="collapsed">
                                KAGADA <i class="bx bx-chevron-down icon-show"></i><i
                                    class="bx bx-chevron-up icon-close"></i></a>
                            <div id="accordion-list-2" class="collapse" data-parent=".accordion-list"
                                style="text-align: justify;">
                                <p>
                                    KAGADA is the Annual National level Technical Paper, Project and Poster Presentation
                                    Competition organized by IEEE UVCE Student Branch. Technical Papers are presented
                                    under 2 tracks namely UG/PG Paper Presentation and WIE Paper Presentation. In
                                    addition to Paper presentation, Project and Poster Presentation contests are also
                                    conducted. Ottige Kaliyona, an initiative where government school children are
                                    taught to use technology and develop social skills, is also conducted as part of
                                    KAGADA.

                                </p>
                            </div>
                        </li>

                        <li>
                            <a data-toggle="collapse" href="#accordion-list-3" class="collapsed">
                                CODEFURY<i class="bx bx-chevron-down icon-show"></i><i
                                    class="bx bx-chevron-up icon-close"></i></a>
                            <div id="accordion-list-3" class="collapse" data-parent=".accordion-list"
                                style="text-align: justify;">
                                <p>
                                    CODEFURY, introduced three years ago, is an Annual National level Hackathon
                                    conducted
                                    by IEEE UVCE Computer Society. The main task of the Hackathon is to create a Web or
                                    Android/iOS Application related to the problem domain which is given on the
                                    spot. The problem domains given in the last 4 iterations were 'Building a platform
                                    to aid women empowerment and safety', 'Building an E-commerce application' and 'Jobs
                                    for all: Effective management of unorganised labour post COVID-19'. The Hackathon
                                    sees about 200 participants from all over the country, come together to showcase
                                    their coding skills earnestly.
                            </div>
                        </li>

                    </ul>
                </div>

            </div>

            <div loading="lazy" class="col-lg-4 align-items-stretch order-1 order-lg-2 img p-3 m-3 image-banner"
                data-aos="zoom-in" data-aos-delay="150">
                &nbsp;</div>
        </div>

    </div>
</section>
<div class="" id="sig"></div>
<section id="skills" class="skills">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Special Interest Groups</h2>
        </div>
        <div style="display:flex; flex-direction:column;justify-content:center;align-items:center;">
            <a href="" class="btn btn-info btn-block my-2" type="submit" style="background-color: #37517e"
                data-toggle="modal" data-target="#myModal00">Student Activities Committee (SAC)</a>
            <a href="" class="btn btn-info btn-block my-2" type="submit" style="background-color: #37517e"
                data-toggle="modal" data-target="#myModal9">Women In Engineering (WIE)</a>
            <a href="" class="btn btn-info btn-block my-2" type="submit" style="background-color: #37517e"
                data-toggle="modal" data-target="#myModal2">Computer Society (CS)</a>
            <a href="" class="btn btn-info btn-block my-2" type="submit" style="background-color: #37517e"
                data-toggle="modal" data-target="#myModal5">Power & Energy Society (PES)</a>
            <a href="" class="btn btn-info btn-block my-2" type="submit" style="background-color: #37517e"
                data-toggle="modal" data-target="#myModal6">Power Electronics Society (PELS)</a>
            <a href="" class="btn btn-info btn-block my-2" type="submit" style="background-color: #37517e"
                data-toggle="modal" data-target="#myModal10">Yantrik (Robotics Club)</a>
            <a href="" class="btn btn-info btn-block my-2" type="submit" style="background-color: #37517e"
                data-toggle="modal" data-target="#myModal8">Software Development</a>
            <a href="" class="btn btn-info btn-block my-2 sig-button" style="background-color: #37517e"
                data-toggle="modal" data-target="#myModal1">Art & Design</a>
            <a href="" class="btn btn-info btn-block my-2" type="submit" style="background-color: #37517e"
                data-toggle="modal" data-target="#myModal3">Special Interest Group on Humanitarian Technology(SIGHT)</a>
            <a href="" class="btn btn-info btn-block my-2" type="submit" style="background-color: #37517e"
                data-toggle="modal" data-target="#myModal7">Nirman</a>
            <a href="" class="btn btn-info btn-block my-2" type="submit" style="background-color: #37517e"
                data-toggle="modal" data-target="#myModal4">Literary Club</a>
        </div>
    </div>
    <div id="myModal00" class="modal fade" role="dialog" style="z-index:99999999999999999">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title" style="text-align: center;">Student Activities Committee (SAC) </h4>
                </div>
                <img loading="lazy" src="{% static 'img/sig/SAC.png' %}" style="max-width: 100%;" alt="none">
                <div class="modal-body">
                    <p>Student Activities Committee (SAC) is a committee under IEEE UVCE that
                         is responsible for student programs and benefits. Industrial visits are 
                         initiated by SAC to expose the students to real world industrial practises. 
                         Additionally, SAC facilitates communication between various sections and 
                         councils of IEEE to collaborate and coordinate activites.
                         It also functions as a body that bridges the gap between IEEE UVCE and IEEE Bangalore Section.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <div id="myModal1" class="modal fade" role="dialog" style="z-index:99999999999999999">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title" style="text-align: center;">Art & Design</h4>
                </div>
                <img loading="lazy" src="{% static 'img/sig/Black.png' %}" style="max-width: 100%;" alt="none">
                <div class="modal-body">
                    <p>IEEE UVCE Art & Design SIG is an amalgamation of all things creative. It is aimed towards
                        creating a platform for students interested in Graphic Design, Art and Video Editing. The main
                        goal is to encourage students to express their creativity with no bounds to the medium involved.
                        With all the posters, brochures, videos and any creative media released from the team, we aim to
                        develop our abilities beyond a closed classroom.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <div id="myModal2" class="modal fade" role="dialog" style="z-index:99999999999999999">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">Computer Society (CS)</h4>

                </div>
                <img loading="lazy" src="{% static 'img/sig/CS.webp' %}" style="max-width: 100%;" alt="none">
                <div class="modal-body">
                    <p>Computer Society is one of the most prominent societies that comes under IEEE UVCE. It acts as a
                        great platform for students of all branches to learn more and contribute to the computing world.
                        Computer Society has been conducting many events since its inception which includes the Annual
                        National level hackathon CodeFury, the monthly coding competition NCode and several workshops to
                        kindle
                        students' interest to update their knowledge on new upcoming technological advances and improve
                        their programming skills as well.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <div id="myModal7" class="modal fade" role="dialog" style="z-index:99999999999999999">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">Nirman</h4>
                </div>
                <img loading="lazy" src="{% static 'img/sig/NB.png' %}" style="max-width: 100%;" alt="none">
                <div class="modal-body">
                    <p>Nirman SIG was inaugrated on June 2021. IEEE UVCE Nirman's primary aim is to keep all Civil
                        Engineering enthusiasts of UVCE technically strong. It conducts webinars, workshops and events
                        related to important topics for the students to gain good experience and knowledge. It is the
                        platform where students get a chance to test their skill and ability in the field.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <div id="myModal4" class="modal fade" role="dialog" style="z-index:99999999999999999">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">Literary Club</h4>
                </div>
                <img loading="lazy" src="{% static 'img/sig/LC.webp' %}" style="max-width: 100%;" alt="none">
                <div class="modal-body">
                    <p>Literary club functions as a part of IEEE UVCE with a motto of harnessing the linguistic skills.
                        It conducts activities to develop communication and creative writing abilities of students. This
                        club helps in enhancing the communication skills of students and helps them communicate their
                        ideas and innovations in a clear and efficient way.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <div id="myModal5" class="modal fade" role="dialog" style="z-index:99999999999999999">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">Power & Energy Society (PES)</h4>
                </div>
                <img loading="lazy" src="{% static 'img/sig/PES.webp' %}" style="max-width: 100%;" alt="none">
                <div class="modal-body">
                    <p>Power and Energy Society is a new student chapter under IEEE UVCE, started in April 2019. The
                        main aim of the Society is to strengthen the technical skills of interested students from all
                        branches, but mainly concentrated on students of electronics and electrical branches. It
                        conducts many technical events, talks and industrial visits. A monthly Electronics and
                        Electrical Challenge Voltorb is also conducted, through which students can test their technical
                        strengths.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <div id="myModal6" class="modal fade " role="dialog" style="z-index:99999999999999999">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">Power Electronis Society(PELS)</h4>
                </div>
                <img loading="lazy" src="{% static 'img/sig/PELS.webp' %}" style="max-width: 100%;" alt="none">
                <div class="modal-body">
                    <p>Power Electronics Society is a new chapter under IEEE UVCE, inaugurated in June 2021. The main
                        aim of the Society is to strengthen the technical skills of the students in the field of Power
                        Electronic Systems. We look forward to conduct webinars and workshops on topics related to power
                        electronic systems, technologies and it's applications such as Fuel Cell Technology, Renewable
                        Energy Systems.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <div id="myModal8" class="modal fade" role="dialog" style="z-index:99999999999999999">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">Software Development</h4>
                </div>
                <img loading="lazy" src="{% static 'img/sig/SD.webp' %}" style="max-width: 100%;" alt="none">
                <div class="modal-body">
                    <p>The Software Development SIG previously the Web Development SIG was started in April 2017. This
                        is the software tweaking pavilion of IEEE UVCE. It specializes in conducting software
                        development related contests and workshops from IEEE UVCE. It strives to empower and build a
                        community of aspiring developers.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <div id="myModal3" class="modal fade" role="dialog" style="z-index:99999999999999999">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">Special Interest Group on Humanitarian Technology (SIGHT)</h4>
                </div>
                <img loading="lazy" src="{% static 'img/sig/SIGHT.webp' %}" style="max-width: 100%;" alt="none">
                <div class="modal-body" >
                    <p>SIGHT is an ensemble in IEEE that focuses on projects that are beneficial to the society. It
                        gives enthusiastic groups of engineers a platform to reach out to different sectors of people in
                        different walks of life, thereby changing lives one at a time towards their better future by
                        solving their everyday problems by providing a technology based solution.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <div id="myModal9" class="modal fade" role="dialog" style="z-index:99999999999999999">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">Women in Engineering (WIE)</h4>
                </div>
                <img loading="lazy" src="{% static 'img/sig/WIE.webp' %}" style="max-width: 100%;" alt="none">
                <div class="modal-body">
                    <p>IEEE Women in Engineering (WIE) is a global network of IEEE members and volunteers dedicated to
                        promoting women engineers and scientists, and inspiring girls around the world to follow their
                        academic interests in a career in engineering and science. IEEE UVCE WIE is an Affinity group
                        under IEEE UVCE. It's goal is to facilitate the recruitment and retention of women in technical
                        disciplines globally. It envisions a vibrant community of IEEE women and men collectively using
                        their diverse talents to innovate for the benefit of humanity.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <div id="myModal10" class="modal fade" role="dialog" style="z-index:99999999999999999">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">Yantrik (Robotics Club)</h4>
                </div>
                <img loading="lazy" src="{% static 'img/sig/yantrik.webp' %}" style="max-width: 100%;" alt="none">
                <div class="modal-body">
                    <p>Yantrik, the robotics club of IEEE UVCE was formed in 2005 to further the understanding of the
                        field. Students from various discipline have collaborated to keep this club active for last 17
                        years. With the wake of recent developments in technology, robotics predominates the important
                        sectors and also demands a new approach. The club has shouldered several workshops, events and
                        peer-to-peer training programs for teaching robotics to everyone who were curious and interested
                        and intends to form a strong community of roboticists in UVCE. It commits to the fundamentals
                        for rethinking the design and to build efficient robots with advanced capabilities.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>



</section>
<!-- End Skills Section -->

<!-- ======= Awards Section ======= -->
<div class="" id="awrds"></div>
<section id="Awards" class="Awards section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Awards and Recognition</h2>
            <img class='center-block' style="max-width:100%; border:2px solid black;" loading="lazy"
                src="{% static 'img/IEEE UVCE Awards-21-big.webp' %}" srcset="{% static 'img/IEEE UVCE Awards-21-small.webp' %} 600w,
                {% static 'img/IEEE UVCE Awards-21-big.webp' %} 1000w
                " alt="">

        </div>
</section>

<!-- End Awards Section -->

<section class="team-section text-center my-5">

    <!-- Section heading -->
    <div class="section-title">
        <h2>Faculty Coordinators</h2>
    </div>
    <!-- Section description -->

    <!-- Grid row -->
    <div class="row text-center">
        <div class="col-md-4 mb-md-0 mb-5">
            <div class="avatar mx-auto">
                <img loading="lazy" src="{% static 'img\teachers\DrVenugopal.webp' %}"
                    style="height:225px;width:206px;;" class="rounded z-depth-1-half" alt="Sample avatar">
            </div>
            <h4 class="font-weight-bold dark-grey-text my-4">Dr. Venugopal K R</h4>
            <h6 class="text-uppercase grey-text mb-3"><strong>Branch Patron</strong></h6>

        </div>
        <div class="col-md-4 mb-md-0 mb-5">
            <div class="avatar mx-auto">
                <img loading="lazy" src="{% static 'img\teachers\Dr. P Deepa Shenoy.webp' %}"
                    style="height:225px;width:206px;;" class="rounded z-depth-1-half" alt="Sample avatar">
            </div>
            <h4 class="font-weight-bold dark-grey-text my-4">Dr. P Deepa Shenoy</h4>
            <h6 class="text-uppercase grey-text mb-3"><strong>Branch Advisor</strong></h6>

        </div>
        <!-- Grid column -->
        <div class="col-md-4 mb-md-0 mb-2">
            <div class="avatar mx-auto">
                <img loading="lazy" style="height:225px;width:206px" src="{% static 'img\teachers\Dr. Kiran K.webp' %}"
                    class="rounded z-depth-1-half" alt="Sample avatar">
            </div>
            <h4 class="font-weight-bold dark-grey-text my-4">Dr. Kiran K</h4>
            <h6 class="text-uppercase grey-text mb-3"><strong>Branch Counselor</strong></h6>

        </div>
</section>
<section id="why-us" class="why-us section-bg" data-aos="fade-up">
    <div class="section-title">
        <h2>Quick Links</h2>
    </div>
    <div class="text-center xl">
        <a href="https://www.ieee.org/" target="_blank">IEEE</a>
        | <a href="https://www.ieeer10.org/" target="_blank">IEEE Region 10</a>
    </div>
    <div class="text-center xl">
        <a href="https://site.ieee.org/indiacouncil/" target="_blank">IEEE India
            Council</a>
        | <a href="https://ieeebangalore.org/" target="_blank">IEEE Bangalore Section</a>
    </div>

    <div class="text-center xl">
        <a href="https://wie.ieee.org/" target="_blank">IEEE Women in Engineering</a>
        | <a href="https://www.computer.org/" target="_blank">IEEE Computer Society</a>
    </div>

    <div class="text-center xl">
        <a href="https://www.ieee-pes.org/" target="_blank">IEEE Power & Energy Society</a> |
        <a href=" https://sight.ieee.org/" target="_blank">IEEE SIGHT</a>
    </div>

    <div class="text-center xl">
        <a href="https://ieeexplore.ieee.org/Xplore/home.jsp" target="_blank">IEEEXplore</a>
        | <a href="https://www.ieee.org/about/news/index.html" target="_blank">IEEE Newsroom</a>
    </div>

    <div class="text-center xl">
        <a href="https://ieeetv.ieee.org/" target="_blank">IEEE.tv</a>
        | <a href="https://ieee-collabratec.ieee.org/" target="_blank">IEEE Collabratec</a>
    </div>
    <div class="text-center xl">
        <a href="https://ieeextreme.org/" target="_blank">IEEEXtreme</a>
        | <a href="https://standards.ieee.org/" target="_blank">IEEE Standards Association</a>
    </div>


</section>

{% endblock %}