{% extends 'base.html' %}
{% load static %}
{% block styling  %}
<style>
    .image-banner {
        background-image: url("{% static 'img/ieeebanner-1000.webp' %}");
    }

    @media screen and (max-width: 500px) {
        .image-banner {
            background-image: url("{% static 'img/ieeebanner-500.webp' %}");
        }
    }
</style>
{% endblock %}
{% block home %}
<li style="display: none;"></li>

<li>
    <a href="#updates">Updates</a>
</li>

<li>
    <a href="#fests">Fests</a>
</li>

<li>
    <a href="#sig">SIG</a>
</li>

<li>
    <a href="#awrds">Awards</a>
</li>


<li><a href="#contact">Contact</a></li>
{% endblock %}
{% load static %}
{% block hero %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
                data-aos="fade-up" data-aos-delay="200">
                <h1>IEEE UVCE</h1>
                <h2>Striding Ahead!</h2>
                <div class="d-lg-flex">

                    <a href="https://youtu.be/rjpbI2PFx10" class="venobox btn-watch-video" data-vbtype="video"
                        data-autoplay="true">
                        Watch Video <i class="icofont-play-alt-2"></i></a>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                <img src="{% static 'img/head-500.webp' %}"
                    srcset="{% static 'img/head-500.webp' %} 500w, {% static 'img/head-1000.webp' %} 1000w"
                    class="img-fluid animated" alt="" />
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block footer %}
<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Contact</h2>

        </div>


        <div class="info">
            <div class="row">
                <div class="col-sm-6">

                    <div class="email">
                        <a href="mailto:ieeeuvce@gmail.com">
                            <i class="icofont-envelope"></i>
                            <h4>Email:</h4>
                            <p>ieeeuvce@gmail.com</p>
                        </a>
                    </div>
                    <div class="email">
                        <i class="icofont-linkedin"></i>
                        <a href="https://www.linkedin.com/in/ieee-uvce-66563332">
                            <h4>linkedin</h4>
                            <p>IEEE UVCE</p>
                        </a>

                    </div>

                </div>
                <div class="col-sm-6">
                    <div class="address">
                        <a href="https://www.facebook.com/ieeeuvce">
                            <i class="icofont-facebook"></i>
                            <h4>Facebook</h4>
                            <p>ieeeuvce</p>
                        </a>

                    </div>

                    <div class="address">
                        <a href="https://instagram.com/ieeeuvce?igshid=13ji244uruko2">
                            <i class="icofont-instagram"></i>
                            <h4>Instagram</h4>
                            <p>ieee-uvce</p>
                        </a>
                    </div>


                </div>
            </div>
            <!-- <iframe src="https://g.page/uvce-karnataka?share" frameborder="0"
                        style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe> -->
            <!-- <iframe loading="lazy" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1943.9630270460852!2d77.58611743414656!3d12.976581321730407!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1672fcfc6af1%3A0x9c2dc517c9231979!2sUVCE!5e0!3m2!1sen!2sin!4v1601372663946!5m2!1sen!2sin" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe> -->

        </div>

    </div>
    <hr>
    <div class="footer-copyright text-center py-3" data-aos="fade-up">
        <h5><a href="mailto:kennithkoshy@ieee.org"><i class="icofont-envelope"></i> Kennith O Koshy</a></h5>
        <h6><a target="_blank"
                href="https://www.google.com/maps/place/UVCE/@12.9753541,77.5845553,17z/data=!3m1!4b1!4m5!3m4!1s0x3bae1672fcfc6af1:0x9c2dc517c9231979!8m2!3d12.9753821!4d77.586793"><i
                    class="icofont-google-map"></i>
                UVCE, K.R Circle, B.R Ambedkar Veedhi, Bengaluru </a></h6>
        © 2020 Copyright:
        <a href="{% url 'home_page' %}"> IEEE-UVCE</a>
    </div>
    </div>
</section>
{% endblock %}
{% block content %}

<!-- ======= About Us Section ======= -->
<section id="Fests" class="Fests">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>IEEE UVCE</h2>
        </div>

        <div class="row content p-5">
            <div class="p-2 " style="text-align: justify;">
                <p>
                    IEEE Student Branch of UVCE endeavors to enhance the learning experience of the students community
                    on
                    the UVCE campus. The Student Branch intends on providing different social, cultural and technical
                    events for the students throughout the year. We encourage the students to take full advantage of the
                    benefits of IEEE membership, including scholarships, competitions, and conference grants. The
                    Student Branch also emphasizes the students to work with peers in other institutes, academicians,
                    professionals, engineers, and scientists through the on campus IEEE Student Branch and the Local
                    IEEE Section, thereby encouraging students to be a part of the global IEEE community.

                </p>
                <a href="https://www.ieee.org/" class="btn-learn-more " style="text-align: center;">Learn More</a>
            </div>
        </div>

    </div>
</section>
<!-- End About Us Section -->
<!-- Update section  -->
<div id="updates"></div>
<section id="skills" class="skills">
    <div class="container" data-aos="fade-up" style="text-align: center;margin:auto">

        <div class="section-title">
            <h2>Updates</h2>
        </div>
        <marquee width="100%" direction="up" height="150px">
            {% for update in updates %}
            <ul style="list-style-type: none;">
                <li>
                    <b>{{ update.title}}</b>: {{ update.Update}}
                </li>
            </ul>
            {% endfor %}
        </marquee>

    </div>
</section>
<div class="" id="fests"></div>
<section id="why-us" class="why-us section-bg">
    <div class="container-fluid" data-aos="fade-up">
        <div class="section-title">
            <h2>Fests</h2>
        </div>
        <div class="row">

            <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

                <div class="content">

                    <h3>Our Flagship events</strong></h3>

                </div>

                <div class="accordion-list">
                    <ul>
                        <li>
                            <a data-toggle="collapse" class="collapse" href="#accordion-list-1">
                                IMPETUS<i class="bx bx-chevron-down icon-show"></i><i
                                    class="bx bx-chevron-up icon-close"></i></a>
                            <div id="accordion-list-1" class="collapse show" data-parent=".accordion-list"
                                style="text-align: justify;">
                                <p>
                                    Impetus is an Annual National level technical fest conducted by IEEE UVCE.
                                    The fest is preceded by curtain raisers which include workshops, seminars and fun
                                    events.
                                    It is based on different innovative themes every year and sees a footfall of about
                                    1000 students from all over the
                                    state.
                                    About 20 events are conducted among which Summit, Mock placements, Lazer Tag and
                                    Codestorm attract most crowd.
                                </p>
                            </div>
                        </li>

                        <li>
                            <a data-toggle="collapse" href="#accordion-list-2" class="collapsed">
                                KAGADA <i class="bx bx-chevron-down icon-show"></i><i
                                    class="bx bx-chevron-up icon-close"></i></a>
                            <div id="accordion-list-2" class="collapse" data-parent=".accordion-list"
                                style="text-align: justify;">
                                <p>


                                    KAGADA is the Annual National level Technical Paper Presentation competition
                                    organized by IEEE UVCE.
                                    Categories for Paper Presentation: UG/PG and WIE.
                                    In addition to Paper presentation, Project and Poster presentation contests are also
                                    conducted.
                                    'Ottige Kaliyona' - An initiative for government school children is also organised.

                                </p>
                            </div>
                        </li>

                        <li>
                            <a data-toggle="collapse" href="#accordion-list-3" class="collapsed">
                                CODEFURY<i class="bx bx-chevron-down icon-show"></i><i
                                    class="bx bx-chevron-up icon-close"></i></a>
                            <div id="accordion-list-3" class="collapse" data-parent=".accordion-list"
                                style="text-align: justify;">
                                <p>
                                    "CodeFury 2.0" is a National level Hackathon which will draw participants from all
                                    over India. The main task of the
                                    Hackathon is to create a Web or Android Application related to the given problem
                                    domain. The problem domain would be
                                    given on the spot.
                                </p>
                            </div>
                        </li>

                    </ul>
                </div>

            </div>

            <div loading="lazy" class="col-lg-4 align-items-stretch order-1 order-lg-2 img p-3 m-3 image-banner"
                style='' data-aos="zoom-in" data-aos-delay="150">
                &nbsp;</div>
        </div>

    </div>
</section>
<div class="" id="sig"></div>
<section id="skills" class="skills">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Special Interest Groups</h2>
        </div>
        <div style="display:flex; flex-direction:column;justify-content:center;align-items:center;">
            <a href="" class="btn btn-info btn-block my-2 sig-button" style="background-color: #37517e"
                data-toggle="modal" data-target="#myModal1">Art Forum</a>

            <a href="" class="btn btn-info btn-block my-2" type="submit" style="background-color: #37517e"
                data-toggle="modal" data-target="#myModal2">Computer Society</a>
            <a href="" class="btn btn-info btn-block my-2" type="submit" style="background-color: #37517e"
                data-toggle="modal" data-target="#myModal3">Graphic design</a>
            <a href="" class="btn btn-info btn-block my-2" type="submit" style="background-color: #37517e"
                data-toggle="modal" data-target="#myModal4">Literary
                club</a>
            <a href="" class="btn btn-info btn-block my-2" type="submit" style="background-color: #37517e"
                data-toggle="modal" data-target="#myModal6">PES</a>
            <a href="" class="btn btn-info btn-block my-2" type="submit" style="background-color: #37517e"
                data-toggle="modal" data-target="#myModal7">Special Interest Group on Humanitarian Technology
                (SIGHT)</a>
            <a href="" class="btn btn-info btn-block my-2" type="submit" style="background-color: #37517e"
                data-toggle="modal" data-target="#myModal8">Web Development</a>
            <a href="" class="btn btn-info btn-block my-2" type="submit" style="background-color: #37517e"
                data-toggle="modal" data-target="#myModal9">Women in Engineering </a>
            <a href="" class="btn btn-info btn-block my-2" type="submit" style="background-color: #37517e"
                data-toggle="modal" data-target="#myModal10">Yantrik</a>
        </div>
    </div>
    <div id="myModal1" class="modal fade" role="dialog" style="z-index:99999999999999999">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">Art forum</h4>
                </div>
                <img loading="lazy" src="{% static 'img/sig/artforum.png' %}" style="max-width: 100%;" alt="none">
                <div class="modal-body">
                    <p>Art Forum SIG is a club that provides artistic opportunities beyond the walls of the classroom.
                        Art Forum is for all those students who are passionate and interested in art. It promotes
                        creative qualities among students. Its goal is to promote active participation of students in
                        different events conducted by the club and also to promote student involvement in activities
                        which gives them the opportunity to put forward their creative ideas.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <div id="myModal2" class="modal fade" role="dialog" style="z-index:99999999999999999">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">Computer Society</h4>

                </div>
                <img loading="lazy" src="{% static 'img/sig/cs.png' %}" style="max-width: 100%;" alt="none">
                <div class="modal-body">
                    <p>Computer Society (CS) is one of the most prominent societies that comes under IEEE UVCE. It acts
                        as a great platform for students of all branches to learn more and contribute to the computing
                        world. Computer Society has been conducting many events since its inception which includes our
                        yearly hackathon CodeFury, our monthly coding competition NCode and several workshops to kindle
                        student's interest to update their knowledge on new upcoming technological advances and improve
                        their programming skills as well..</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <div id="myModal3" class="modal fade" role="dialog" style="z-index:99999999999999999">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">Graphic Design</h4>
                </div>
                <img loading="lazy" src="{% static 'img/sig/design.png' %}" style="max-width: 100%;" alt="none">
                <div class="modal-body">
                    <p>Graphic Design team of IEEE UVCE consists of passionate designers who design and conduct
                        workshops on Adobe Illustrator and Photoshop. This SIG gives opportunities to the students to be
                        a part of the design team for various events conducted by IEEE UVCE. It was started in April
                        2017.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <div id="myModal4" class="modal fade" role="dialog" style="z-index:99999999999999999">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">Literary Club</h4>
                </div>
                <img loading="lazy" src="{% static 'img/sig/lit.png' %}" style="max-width: 100%;" alt="none">
                <div class="modal-body">
                    <p>Literary Club functions as a part of IEEE UVCE with a motto of harnessing the linguistic skills.
                        It conducts activities to develop communication and creative writing abilities of students. This
                        club helps in enhancing the communication skills of students and helps them communicate their
                        ideas and innovations in a clear and efficient way.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <div id="myModal6" class="modal fade" role="dialog" style="z-index:99999999999999999">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">Power And Electric Society</h4>
                </div>
                <img loading="lazy" src="{% static 'img/sig/pes.png' %}" style="max-width: 100%;" alt="none">
                <div class="modal-body">
                    <p>Power & Energy Society (PES) is a new student chapter under IEEE UVCE, started in April 2019. The
                        main aim of the Society is to strengthen the technical skills of interested students from all
                        branches, but mainly concentrated on students of electronics and electrical branches. It
                        conducts many technical events, talks and industrial visits. A monthly Electronics and
                        Electrical Challenge Voltorb is also conducted, through which students can test their technical
                        strengths.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <div id="myModal7" class="modal fade" role="dialog" style="z-index:99999999999999999">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">SIGHT</h4>
                </div>
                <img loading="lazy" src="{% static 'img/sig/sight.png' %}" style="max-width: 100%;" alt="none">
                <div class="modal-body">
                    <p>Special Interest Group on Humanitarian Technology (SIGHT) is an ensemble in IEEE that focuses on
                        projects that are beneficial to the society. It gives enthusiastic groups of engineers a
                        platform to reach out to different sectors of people in different walks of life, thereby
                        changing lives one at a time towards their better future by solving their everyday problems by
                        providing a technology based solution.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <div id="myModal8" class="modal fade" role="dialog" style="z-index:99999999999999999">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">Web Development</h4>
                </div>
                <img loading="lazy" src="{% static 'img/sig/wd.png' %}" style="max-width: 100%;" alt="none">
                <div class="modal-body">
                    <p>Web Development SIG was started in April 2017. This is the web tweaking pavilion of IEEE UVCE. It
                        specialises in conducting all the web related competitions and workshops for IEEE UVCE.
                        Workshops on HTML and CSS and contests on front end designing have been conducted.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <div id="myModal9" class="modal fade" role="dialog" style="z-index:99999999999999999">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">Women in Engineering </h4>
                </div>
                <img loading="lazy" src="{% static 'img/sig/wie.png' %}" style="max-width: 100%;" alt="none">
                <div class="modal-body">
                    <p>Women in Engineering (WIE) is a global network of IEEE members and volunteers dedicated to
                        promoting women engineers and scientists, and inspiring girls around the world to follow their
                        academic interests in a career in engineering and science. IEEE UVCE WIE is an Affinity group
                        under IEEE UVCE. It's goal is to facilitate the recruitment and retention of women in technical
                        disciplines globally. We envision a vibrant community of IEEE women and men collectively using
                        their diverse talents to innovate for the benefit of humanity..</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <div id="myModal10" class="modal fade" role="dialog" style="z-index:99999999999999999">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">Yantrik</h4>
                </div>
                <img loading="lazy" src="{% static 'img/sig/yantrik.png' %}" style="max-width: 100%;" alt="none">
                <div class="modal-body">
                    <p>Yantrik, the Robotics club was formed in 2005 to further the understanding of the field. Students
                        from various discipline have collaborated to keep this club active for last 14 years. With the
                        wake of recent developments in technology, robotics predominates the important sectors and also
                        demands a new approach. The club has shouldered several workshops, events and peer-to-peer
                        training programs for teaching robotics to everyone who were curious and interested and intends
                        to form a strong community of roboticists in UVCE. It commits to the fundamentals for rethinking
                        the design and to build efficient robots with advanced capabilities.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>



</section>
<!-- End Skills Section -->

<!-- ======= Awards Section ======= -->
<div class="" id="awrds"></div>
<section id="Awards" class="Awards section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Awards and Recognition</h2>
            <img class='center-block' style="max-width:100%; border:2px solid black;" loading="lazy"
                src="{% static 'img/ieeeawards-500.webp' %}" srcset="{% static 'img/ieeeawards-500.webp' %} 500w,
                {% static 'img/ieeeawards-1000.webp' %} 1515w
                " alt="">

        </div>
</section>

<!-- End Awards Section -->

<section class="team-section text-center my-5">

    <!-- Section heading -->
    <div class="section-title">
        <h2>Faculty</h2>
    </div>
    <!-- Section description -->

    <div class="row text-center p-5">
        <div class="col-md-8 mx-auto">
            <div class="avatar mx-auto">
                <img loading="lazy" src="{% static 'img\teachers\pds1.webp' %}" class="rounded z-depth-1-half "
                    alt="Sample avatar">
            </div>
            <h4 class="font-weight-bold dark-grey-text my-4 font-weight-bold">Dr.P Deepa Shenoy</h4>
            <h6 class="text-uppercase grey-text mb-3"><strong>Branch Adviser</strong></h6>
        </div>
    </div>
    <!-- Grid row -->
    <div class="row text-center">
        <div class="col-md-4 mb-md-0 mb-5">
            <div class="avatar mx-auto">
                <img loading="lazy" src="{% static 'img\teachers\venugopal.webp' %}" class="rounded z-depth-1-half"
                    alt="Sample avatar">
            </div>
            <h4 class="font-weight-bold dark-grey-text my-4">Dr. K R venugopal</h4>
            <h6 class="text-uppercase grey-text mb-3"><strong>Branch Patron</strong></h6>

        </div>
        <!-- Grid column -->
        <div class="col-md-4 mb-md-0 mb-2">
            <div class="avatar mx-auto">
                <img loading="lazy" src="{% static 'img\teachers\kiran.webp' %}" class="rounded z-depth-1-half"
                    alt="Sample avatar">
            </div>
            <h4 class="font-weight-bold dark-grey-text my-4">Dr. Kiran K</h4>
            <h6 class="text-uppercase grey-text mb-3"><strong>Branch Councellor</strong></h6>

        </div>
        <!-- Grid column -->
        <div class="col-md-4 mb-md-0 mb-5">
            <div class="avatar mx-auto">
                <img loading="lazy" src="{% static 'img\teachers\pushpa.webp' %}" class="rounded z-depth-1-half"
                    alt="Sample avatar">
            </div>
            <h4 class="font-weight-bold dark-grey-text my-4">Dr. Pushpa C N</h4>
            <h6 class="text-uppercase grey-text mb-3"><strong>WIE Mentor</strong></h6>

        </div>
        <!-- Grid column -->
        <div class="col-md-4 mb-md-0 mb-5">
            <div class="avatar mx-auto">
                <img loading="lazy" src="{% static 'img\teachers\veena.webp' %}" class="rounded z-depth-1-half"
                    alt="Sample avatar">
            </div>
            <h4 class="font-weight-bold dark-grey-text my-4">Prof. H S Veena</h4>
            <h6 class="text-uppercase grey-text mb-3"><strong>PES Advisor</strong></h6>

        </div>
        <div class="col-md-4 mb-md-0 mb-5">
            <div class="avatar mx-auto">
                <img loading="lazy" src="{% static 'img\teachers\latha.webp' %}" class="rounded z-depth-1-half"
                    alt="Sample avatar">
            </div>
            <h4 class="font-weight-bold dark-grey-text my-4">Dr. Lata B T</h4>
            <h6 class="text-uppercase grey-text mb-3"><strong>Branch Mentor</strong></h6>

        </div>
        <!-- Grid column -->
        <div class="col-md-4 mb-md-0 mb-5">
            <div class="avatar mx-auto">
                <img loading="lazy" src="{% static 'img\teachers\venkatesh.webp' %}" class="rounded z-depth-1-half"
                    alt="Sample avatar">
            </div>
            <h4 class="font-weight-bold dark-grey-text my-4">Dr. Venkatesh M</h4>
            <h6 class="text-uppercase grey-text mb-3"><strong>Branch Mentor</strong></h6>

        </div>


</section>
<section id="why-us" class="why-us section-bg" data-aos="fade-up">
    <div class="section-title">
        <h2>Quick Links</h2>
    </div>
    <div class="text-center xl">
        <a href="">WIECON 2019</a>
        | <a href="">IEEE XTREME</a>
    </div>
    <div class="text-center xl">
        <a href="">IEEE Spectrum</a>
        | <a href="">IEEE Xplore</a>
    </div>

    <div class="text-center xl">
        <a href="">IEEE Collabratec</a>
        | <a href="">IEEE Newsroom</a>
    </div>

    <div class="text-center xl">
        <a href="">IEEE Standards University</a>
        <a href="">IEEE Certificates Program</a>
    </div>

    <div class="text-center xl">
        <a href="">Computer Society</a>
        | <a href="">Region 10</a>
    </div>

    <div class="text-center xl">
        <a href="">India Council</a>
        | <a href="">Bangalore Section</a>
    </div>


</section>

{% endblock %}