{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
</style>
<section id="skills" class="skills" style="position: relative;">
    <div class="section-title">
        <h2>Membership Benefits</h2>
    </div>

    <div class="container" style="font-size: 1.06rem;">
        <p class="p-3">The core of every club ever made in history is it's beliefs, ideals and the most important of
            all, its
            members. With a legacy of over 20 years, IEEE UVCE has decided to give away a sentiment of appreciation for
            all its members.</p>
        <ul style="padding-left:30px;padding-right:30px;">
            <li style="list-style-type: disc;">
                There will be two different tracks, one for 1st years and one for 2nd + 3rd years respectively.
            </li>
            <li style="list-style-type: disc;">
                Each track will have 4 categories as shown in the points table.
            </li>
            <li style="list-style-type: disc;">
                All the participants get points based on their activity.
            </li>
            <li style="list-style-type: disc;">
                Refer the poster for categories of events and the points they carry.
            </li>
            <li style="list-style-type: disc;">
                Cash prize for a winner of one particular category under each track and special prize for all round
                performance is up to ₹5,000
            </li>
        </ul>
    </div>
    <br/><br/><br/>
</section>

<section id="skills" class="skills" style="position: relative;">
    <div class="section-title">
        <h2>IEEE Xtreme</h2>
    </div>

    <div class="container" style="font-size: 1.06rem;">
        <p class="p-3">The core of every club ever made in history is it's beliefs, ideals and the most important of
            all, its
            members. With a legacy of over 20 years, IEEE UVCE has decided to give away a sentiment of appreciation for
            all its members.</p>
        <ul style="padding-left:30px;padding-right:30px;">
            <li style="list-style-type: disc;">
                There will be two different tracks, one for 1st years and one for 2nd + 3rd years respectively.
            </li>
            <li style="list-style-type: disc;">
                Each track will have 4 categories as shown in the points table.
            </li>
            <li style="list-style-type: disc;">
                All the participants get points based on their activity.
            </li>
            <li style="list-style-type: disc;">
                Refer the poster for categories of events and the points they carry.
            </li>
            <li style="list-style-type: disc;">
                Cash prize for a winner of one particular category under each track and special prize for all round
                performance is up to ₹5,000
            </li>
        </ul>
    </div>
    <br/><br/><br/>
</section>

<style>
.container{
    justify-content:"center";
}

</style>

{% endblock %}