{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
</style>
<section id="skills" class="skills" style="position: relative;">
    <div class="section-title">
        <h2>Membership Benefits</h2>
    </div>

    <div class="container" style="font-size: 1.06rem;">
        {% comment %} <p class="p-3"> </p> {% endcomment %}
        <ul style="padding-left:30px;padding-right:30px;">
            <li style="list-style-type: disc;">
                Access to latest and best research popers on IEEEXplore digitol library. In lEEEXplore one con follow people and read their articles and papers to enhance one’s knowledge.
            </li>
            <li style="list-style-type: disc;">
                IEEE program helps to sharpen your skills and earn scholarships.

            </li>
            <li style="list-style-type: disc;">
                GoogIeApps@IEEE let’s you creote o free google account with @ieee.org domoin. This offers you 30GB shored spoce, Gmoil, Hongouts ond Google Meet.

            </li>
            <li style="list-style-type: disc;">
                Through the IEEE Resume lobs, one con get trained for the placements and get a chance to sit for a mock interview.

            </li>
            <li style="list-style-type: disc;">
                IEEE Mentor center is an online progrom which facilitates the matching of IEEE members for the purpose of establishing a mentoring partnership.
            </li>
            <li style="list-style-type: disc;">
                Students reap benefits such as discounts on mony important technical resources and reduced registration fees for conferences and events.


            </li>
            <li style="list-style-type: disc;">
                On IEEE.tv, you con find severol videos of webinors conducted world-wide.

            </li>
            <li style="list-style-type: disc;">
                IEEEXtreme	is	a	global challenge where IEEE members form a team and compete for o time span of 24 hours against other teoms to come up with the most innovative solutions  for  a set of real world problems.
            </li>
            <li style="list-style-type: disc;">
                IEEE students con ottend mony more events such as Section Students Congress, SmortTech, Deep Leorning Bootcomp, 5G Workshops, Entrepreneurship Bootcomp, ITC, AGM, Industrial Trips etc.

            </li>
            <li style="list-style-type: disc;">
                IEEE lends a helping hand to students by providing student project funds.
            </li>
            <li style="list-style-type: disc;">
                IEEE Collobrotec is	on online community thot offers o suite of productive tools ond is ovoiloble for tech professionols oround the world with exclusive feotures just for IEEE members.

            </li>
            <li style="list-style-type: disc;">
                IEEE Spectrum is the flagship magazine and website of IEEE. It engages the visitors with clear explanations obout emerging concepts   and    developments with details they can’t get elsewhere.


            </li>
        </ul>
    </div>
    <br/><br/><br/>
</section>

{% comment %} <section id="skills" class="skills" style="position: relative;">
    <div class="section-title">
        <h2>IEEE Xtreme</h2>
    </div>

    <div class="container" style="font-size: 1.06rem;">
        <p class="p-3">The core of every club ever made in history is it's beliefs, ideals and the most important of
            all, its
            members. With a legacy of over 20 years, IEEE UVCE has decided to give away a sentiment of appreciation for
            all its members.</p>
        <ul style="padding-left:30px;padding-right:30px;">
            <li style="list-style-type: disc;">
                There will be two different tracks, one for 1st years and one for 2nd + 3rd years respectively.
            </li>
            <li style="list-style-type: disc;">
                Each track will have 4 categories as shown in the points table.
            </li>
            <li style="list-style-type: disc;">
                All the participants get points based on their activity.
            </li>
            <li style="list-style-type: disc;">
                Refer the poster for categories of events and the points they carry.
            </li>
            <li style="list-style-type: disc;">
                Cash prize for a winner of one particular category under each track and special prize for all round
                performance is up to ₹5,000
            </li>
        </ul>
    </div>
    <br/><br/><br/>
</section> {% endcomment %}

<style>
.container{
    justify-content:"center";
}

</style>

{% endblock %}