{% extends 'base.html' %}
{% load static %}
{% block content %}

<form method="post" class="text-center border border-light p-5">
    <h3 class="h4 mb-4">Enter new password</h3>
    <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
    {% csrf_token %}
    <input class="form-control" type="password" name="new_password1" autocomplete="new-password" required
        placeholder="New Password" id="id_new_password1">
    <br>
    <input class="form-control" type="password" name="new_password2" autocomplete="new-password" required
        placeholder="Confirm Password" id="id_new_password2">
    {% for field in form %}
    {% for error in field.errors %}
    <p style="color: red">{{error}}</p>
    {% endfor %}
    {% endfor %}
    {% if form.non_field_errors %}
    <div style="color: red">
        <p>{{form.non_field_errors}}</p>
    </div>
    {% endif %}
    <button class="btn btn-info btn-block my-4" type="submit" style="background-color: #37517e;">Update
        Password</button>

</form>

{% endblock %}