{% extends 'base.html' %}
{% block content %}
<section id="skills" class="skills" style="position: relative;">
    <div class="section-title">
        <h2>rewards system</h2>
    </div>
    <div class="container">
        <p>Note: It may take some time for the spreadsheets to upadate.</p>
    </div>
    <div class="container">
        <iframe style="width: 100%;height: 50vh;"
            src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSuq10KEFfpKNzKKV5fyWHDE2_01uSXjAQQbQ5iZtoz6Gj_2xKcfFZY82ee5yh3H_rrxxXWraQ-qR9c/pubhtml?widget=true&amp;headers=false"></iframe>
    </div>
    <div class="container">
        <iframe style="width: 100%;height: 50vh;"
            src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTJyf6U5l-x9STvkobneFGjqkz_4p3kqvvxPyLUS2OD2MvnVDu_OAXZbIngheEq24ugSmGWJuIAXaJt/pubhtml?widget=true&amp;headers=false"></iframe>
    </div>
</section>
{% endblock %}