{% extends 'base.html' %}
{% load static %}
{% block content %}
<section id="skills" class="skills" style="position: relative;">
    <div class="section-title">
        <h2>Rewards Programme</h2>
    </div>
    </div>
    <div class="container" style="font-size: 1.06rem;">
        <p class="p-3">The core of every club ever made in history is it's beliefs, ideals and the most important of
            all, its
            members. With a legacy of over 20 years, IEEE UVCE has decided to give away a sentiment of appreciation for
            all its members.</p>
        <ul style="padding-left:30px;padding-right:30px;">
            <li style="list-style-type: disc;">
                There will be two different tracks, one for 1st years and one for 2nd + 3rd years respectively.
            </li>
            <li style="list-style-type: disc;">
                Each track will have 4 categories as shown in the points table.
            </li>
            <li style="list-style-type: disc;">
                All the participants get points based on their activity.
            </li>
            <li style="list-style-type: disc;">
                Refer the poster for categories of events and the points they carry.
            </li>
            <li style="list-style-type: disc;">
                Cash prize for a winner of one particular category under each track and special prize for all round
                performance is up to ₹5,000
            </li>
        </ul>
        <p class="p-3">Note: Only students who have participated in atleast one event of each category are eligible for
            all round
            performer.</p>
        <p class="p-3" style="margin-bottom:-10px;">
            Note: The scoring criteria for NCode participation for IEEE
            members will be three tiers :
        <ul>
            <li style="list-style-type: disc;">
                Participation without the submission of a solution to any of the three problems gets the lowest score.
            </li>
            <li style="list-style-type: disc;">
                Submission of solutions and getting any non-zero score fetches more points than (i).
            </li>
            <li style="list-style-type: disc;">
                The winners for the month score the maximum amount of points.
            </li>
        </ul>
        </p>
    </div>

    <div class="section-title" style="margin-top: 3rem;">
        <h2>Scoring Criteria</h2>

        <div class="container">
            <img class='center-block' style="max-width:100%; border:2px solid black;" loading="lazy"
                src="{% static 'img/rewards-program-600.webp' %}" srcset="{% static 'img/rewards-program-600.webp' %} 600w,
                {% static 'img/rewards-program-1000.webp' %} 1000w
                " alt="">
        </div>
        <div class="section-title" style="margin-top:3rem;">
            <h2>Points table</h2>
        </div>
        <!-- uncomment the following for first year scoring section -->
        <div class="container">
            <iframe style="width: 100%;height: 50vh;"
                src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQNR18zR1jXig5ZWkCRAnQGx64kWM73Fc_Vq5CRmHtzkNeZSAxveHIKDA8SWZHDVbCRlnkJcXEtedV6/pubhtml?widget=true&amp;headers=false"></iframe>
        </div>
        <br>
        <div class="container">
            <iframe style="width: 100%;height: 50vh;"
                src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQKW14KJ1IBn9OMdtTor10hNhyuvn0vmdHgREwl_POkAz5eA-OzYqZAoiT1tLmODpVVepMcH4O9mcLX/pubhtml?widget=true&amp;headers=false"></iframe>
        </div>
</section>
{% endblock %}