{% extends 'base.html' %} {% block content %}

<section id="skills" class="skills" style="margin-bottom: 0px">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>TEAM IEEE UVCE</h2>
    </div>
  </div>
</section>
<div class="container" data-aos="fade-up">
  <div class="row">
    <div class="col">
      <div class="card border-dark mt-4 mb-4 text-center team head" style="margin-left: 14%; margin-right: 14%">
        <div class="card-body p-5">
          <h5 class="card-title">Dr. Venugopal K R</h5>
          <p class="card-text">Branch Patron</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card border-dark mt-4 mb-4 text-center team head" style="margin-left: 14%; margin-right: 14%">
        <div class="card-body p-5">
          <h5 class="card-title">Dr. P Deepa Shenoy</h5>
          <p class="card-text">Branch Advisor</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card border-dark mt-4 mb-4 text-center team head" style="margin-left: 14%; margin-right: 14%">
        <div class="card-body p-5">
          <h5 class="card-title">Dr. Kiran K</h5>
          <p class="card-text">Branch Counselor</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card border-dark mt-4 mb-4 text-center team head" style="margin-left: 14%; margin-right: 14%">
        <div class="card-body p-5">
          <h5 class="card-title">Dr. Venkatesh M</h5>
          <p class="card-text">Branch Mentor</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card border-dark mt-4 mb-4 text-center team head" style="margin-left: 14%; margin-right: 14%">
        <div class="card-body p-5">
          <h5 class="card-title">Dr. Lata BT</h5>
          <p class="card-text">Branch Mentor</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card border-dark mt-4 mb-4 text-center team head" style="margin-left: 14%; margin-right: 14%">
        <div class="card-body p-5">
          <h5 class="card-title">Dr. Pushpa C N</h5>
          <p class="card-text">WIE Advisor</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card border-dark mt-4 mb-4 text-center team head" style="margin-left: 14%; margin-right: 14%">
        <div class="card-body p-5">
          <h5 class="card-title">Prof. H S Veena</h5>
          <p class="card-text">PES Advisor</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card border-dark mt-4 mb-4 text-center team head" style="margin-left: 14%; margin-right: 14%">
        <div class="card-body p-5">
          <h5 class="card-title">Dr. K P Guruswamy</h5>
          <p class="card-text">PELS Advisor</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card border-dark mt-4 mb-4 text-center team head" style="margin-left: 14%; margin-right: 14%">
        <div class="card-body p-5">
          <h5 class="card-title">Dr. Thriveni J</h5>
          <p class="card-text">SIGHT Faculty Mentor</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card border-dark mt-4 mb-4 text-center team head" style="margin-left: 14%; margin-right: 14%">
        <div class="card-body p-5">
          <h5 class="card-title">Dr. B M Rajaprakash</h5>
          <p class="card-text">MDC Advisor</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card border-dark mt-4 mb-4 text-center team head" style="margin-left: 14%; margin-right: 14%">
        <div class="card-body p-5">
          <h5 class="card-title">Dr. Rekha H B</h5>
          <p class="card-text">Civil Advisor</p>
        </div>
      </div>
    </div>
  </div>

  <!---------EXECOM-------->

  <!--Chair-->
  <h1 class="mt-5 mb-4 text-center">Executive Committee</h1>
  <div class="row">
    <div class="col">
      <div class="card border-dark mt-4 mb-4 text-center team head" style="margin-left: 14%; margin-right: 14%">
        <div class="card-body p-5">
          <h5 class="card-title">Kennith O Koshy</h5>
          <p class="card-text">Chairperson</p>
        </div>
      </div>
    </div>
  </div>

  <!--Vice Chair-->
  <div class="row">
    <div class="col">
      <div class="card border-dark mt-4 mb-4 text-center team" style="margin-left: 14%; margin-right: 14%">
        <div class="card-body p-5">
          <h5 class="card-title">Hamsa Shree N A</h5>
          <p class="card-text">Vice-Chairperson</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card border-dark mt-4 mb-4 text-center team" style="margin-left: 14%; margin-right: 14%">
        <div class="card-body p-5">
          <h5 class="card-title">Sandya Shree N</h5>
          <p class="card-text">Vice-Chairperson</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card border-dark mt-4 mb-4 text-center team" style="margin-left: 14%; margin-right: 14%">
        <div class="card-body p-5">
          <h5 class="card-title">Vishal M Kanthi</h5>
          <p class="card-text">Vice-Chairperson</p>
        </div>
      </div>
    </div>
  </div>

  <!--Treasurer and joint treasurer-->
  <div class="row">
    <div class="col">
      <div class="card border-dark mt-4 mb-4 text-center team" style="margin-left: 14%; margin-right: 14%">
        <div class="card-body p-5">
          <h5 class="card-title">Rajat R Lingadalli</h5>
          <p class="card-text">Treasurer</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card border-dark mt-4 mb-4 text-center team" style="margin-left: 14%; margin-right: 14%">
        <div class="card-body p-5">
          <h5 class="card-title">Vikas Gowda L V</h5>
          <p class="card-text">Joint Treasurer</p>
        </div>
      </div>
    </div>
  </div>

  <!--gen sec-->
  <div class="row">
    <div class="col">
      <div class="card border-dark mt-4 mb-4 text-center team" style="margin-left: 14%; margin-right: 14%">
        <div class="card-body p-5">
          <h5 class="card-title">Pruthvi Raj R</h5>
          <p class="card-text">General Secretary</p>
        </div>
      </div>
    </div>
  </div>



  <!--joint sec and membership-->
  <div class="row">
    <div class="col">
      <div class="card border-dark mt-4 mb-4 text-center team" style="margin-left: 14%; margin-right: 14%">
        <div class="card-body p-5">
          <h5 class="card-title">Devika K N</h5>
          <p class="card-text">Joint Secretary</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card border-dark mt-4 mb-4 text-center team" style="margin-left: 14%; margin-right: 14%">
        <div class="card-body p-5">
          <h5 class="card-title">Sanketh Rajshekhar Patil</h5>
          <p class="card-text">Joint Secretary</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card border-dark mt-4 mb-4 text-center team head" style="margin-left: 14%; margin-right: 14%">
        <div class="card-body p-5">
          <h5 class="card-title">Gokula Krishnan S</h5>
          <p class="card-text">Membership Development Committee Chair</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card border-dark mt-4 mb-4 text-center team" style="margin-left: 14%; margin-right: 14%">
        <div class="card-body p-5">
          <h5 class="card-title">Jitendra Prasad K K</h5>
          <p class="card-text">Joint Secretary</p>
        </div>
      </div>
    </div>
  </div>

  <h1 class="mt-5 mb-4 text-center">Student Activities Committee (SAC)</h1>
  <!--sac vice and chair-->
  <div class="row">
    <div class="col">
      <div class="card border-dark mt-4 mb-4 text-center team head" style="margin-left: 14%; margin-right: 14%">
        <div class="card-body p-5">
          <h5 class="card-title">Sanjana Raju</h5>
          <p class="card-text">Chairperson</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card border-dark mt-4 mb-4 text-center team" style="margin-left: 14%; margin-right: 14%">
        <div class="card-body p-5">
          <h5 class="card-title">Srinivas K</h5>
          <p class="card-text">Vice-Chairperson</p>
        </div>
      </div>
    </div>
  </div>

  <!--SAC co-->
  <div class="row">
    <div class="col">
      <div class="card border-dark mt-4 mb-4 text-center team" style="margin-left: 14%; margin-right: 14%">
        <div class="card-body p-5">
          <h5 class="card-title">Maanasa H B</h5>
          <p class="card-text">Coordinator</p>
        </div>
      </div>
    </div>
  </div>

  <!--WIE-->
  <div class="row">
    <div class="col">
      <div class="card border-dark mt-4 mb-4 text-center team head" style="margin-left: 14%; margin-right: 14%">
        <div class="card-body p-5">
          <h5 class="card-title">Mahima Pradeep</h5>
          <p class="card-text">Chairperson</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card border-dark mt-4 mb-4 text-center team" style="margin-left: 14%; margin-right: 14%">
        <div class="card-body p-5">
          <h5 class="card-title">Supriya V Kurpad</h5>
          <p class="card-text">Vice-Chairperson</p>
        </div>
      </div>
    </div>
  </div>

  <!--vice chair,gen,joint-->
  <div class="row">
    <div class="col">
      <div class="card border-dark mt-4 mb-4 text-center team" style="margin-left: 14%; margin-right: 14%">
        <div class="card-body p-5">
          <h5 class="card-title">Varsha Nagesh</h5>
          <p class="card-text">General Secretary</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card border-dark mt-4 mb-4 text-center team" style="margin-left: 14%; margin-right: 14%">
        <div class="card-body p-5">
          <h5 class="card-title">D S L Rasagnya</h5>
          <p class="card-text">Joint Secretary</p>
        </div>
      </div>
    </div>
  </div>
  <!--CS-->
  <h1 class="mt-5 mb-4 text-center">Computer Society (CS)</h1>
  <div class="row">
    <div class="col">
      <div class="card border-dark mt-4 mb-4 text-center team head" style="margin-left: 14%; margin-right: 14%">
        <div class="card-body p-5">
          <h5 class="card-title">Sriram K K</h5>
          <p class="card-text">Chairperson</p>
        </div>
      </div>
    </div>
  </div>



  <!--vice chair-->
  <div class="row">
    <div class="col">
      <div class="card border-dark mt-4 mb-4 text-center team" style="margin-left: 14%; margin-right: 14%">
        <div class="card-body p-5">
          <h5 class="card-title">Charan M K</h5>
          <p class="card-text">Vice-Chairperson</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card border-dark mt-4 mb-4 text-center team" style="margin-left: 14%; margin-right: 14%">
        <div class="card-body p-5">
          <h5 class="card-title">Pooja Hegde</h5>
          <p class="card-text">Vice-Chairperson</p>
        </div>
      </div>
    </div>
  </div>

  <!--gen-->
  <div class="row">
    <div class="col">
      <div class="card border-dark mt-4 mb-4 text-center team" style="margin-left: 14%; margin-right: 14%">
        <div class="card-body p-5">
          <h5 class="card-title">Ajantha Hebbar</h5>
          <p class="card-text">General Secretary</p>
        </div>
      </div>
    </div>
  </div>


  <!--joint-->
  <div class="row">
    <div class="col">
      <div class="card border-dark mt-4 mb-4 text-center team" style="margin-left: 14%; margin-right: 14%">
        <div class="card-body p-5">
          <h5 class="card-title">Munnoli Sammed Jaykumar</h5>
          <p class="card-text">Joint Secretary</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card border-dark mt-4 mb-4 text-center team" style="margin-left: 14%; margin-right: 14%">
        <div class="card-body p-5">
          <h5 class="card-title">Swaminathan S</h5>
          <p class="card-text">Joint Secretary</p>
        </div>
      </div>
    </div>
  </div>
  <!--Ncode-->
  <div class="row">
    <div class="col">
      <div class="card border-dark mt-4 mb-4 text-center team" style="margin-left: 14%; margin-right: 14%">
        <div class="card-body p-5">
          <h5 class="card-title">Anam Ali</h5>
          <p class="card-text">NCode Secretary</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card border-dark mt-4 mb-4 text-center team" style="margin-left: 14%; margin-right: 14%">
        <div class="card-body p-5">
          <h5 class="card-title">Nimitha J</h5>
          <p class="card-text">NCode Secretary</p>
        </div>
      </div>
    </div>
  </div>

  <!--PES chair-->
  <h1 class="mt-5 mb-4 text-center">Power & Energy Society (PES)</h1>
  <div class="row">
    <div class="col">
      <div class="card border-dark mt-4 mb-4 text-center team head" style="margin-left: 14%; margin-right: 14%">
        <div class="card-body p-5">
          <h5 class="card-title">Sunkeerth M</h5>
          <p class="card-text">Chairperson</p>
        </div>
      </div>
    </div>
  </div>

  <!--pes vice and co-->
  <div class="row">
    <div class="col">
      <div class="card border-dark mt-4 mb-4 text-center team" style="margin-left: 14%; margin-right: 14%">
        <div class="card-body p-5">
          <h5 class="card-title">Varsha S Bhat</h5>
          <p class="card-text">General Secretary</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card border-dark mt-4 mb-4 text-center team" style="margin-left: 14%; margin-right: 14%">
        <div class="card-body p-5">
          <h5 class="card-title">Naveen Kumar N</h5>
          <p class="card-text">Joint Secretary</p>
        </div>
      </div>
    </div>
  </div>
  <!--SIGHT-->

  <!--sight chair-->
  <h1 class="mt-5 mb-4 text-center">
    Special Interest Group on Humanitarian Technology (SIGHT)
  </h1>
  <div class="row">
    <div class="col">
      <div class="card border-dark mt-4 mb-4 text-center team head" style="margin-left: 14%; margin-right: 14%">
        <div class="card-body p-5">
          <h5 class="card-title">Harshitha B R</h5>
          <p class="card-text">Chairperson</p>
        </div>
      </div>
    </div>
  </div>

  <!--vice chair-->
  <div class="row">
    <div class="col">
      <div class="card border-dark mt-4 mb-4 text-center team" style="margin-left: 14%; margin-right: 14%">
        <div class="card-body p-5">
          <h5 class="card-title">Harish Ramesh</h5>
          <p class="card-text">Vice-Chairperson</p>
        </div>
      </div>
    </div>
  </div>

  <!--sight gen and co-->
  <div class="row">
    <div class="col">
      <div class="card border-dark mt-4 mb-4 text-center team" style="margin-left: 14%; margin-right: 14%">
        <div class="card-body p-5">
          <h5 class="card-title">Niveditha G</h5>
          <p class="card-text">Vice-Chairperson</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card border-dark mt-4 mb-4 text-center team" style="margin-left: 14%; margin-right: 14%">
        <div class="card-body p-5">
          <h5 class="card-title">Harshini B R</h5>
          <p class="card-text">General Secretary</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card border-dark mt-4 mb-4 text-center team" style="margin-left: 14%; margin-right: 14%">
        <div class="card-body p-5">
          <h5 class="card-title">Anusha L</h5>
          <p class="card-text">Coordinator</p>
        </div>
      </div>
    </div>
  </div>

  <!--ROBOTICS-->
  <!--robotics chair-->
  <h1 class="mt-5 mb-4 text-center">Robotics</h1>
  <div class="row">
    <div class="col">
      <div class="card border-dark mt-4 mb-4 text-center team head" style="margin-left: 14%; margin-right: 14%">
        <div class="card-body p-5">
          <h5 class="card-title">Nimitha J</h5>
          <p class="card-text">NCode Secretary</p>
        </div>
      </div>
    </div>
  </div>


  <!--robo vice and co-->
  <div class="row">
    <div class="col">
      <div class="card border-dark mt-4 mb-4 text-center team" style="margin-left: 14%; margin-right: 14%">
        <div class="card-body p-5">
          <h5 class="card-title">Venkateshprasad</h5>
          <p class="card-text">President</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card border-dark mt-4 mb-4 text-center team" style="margin-left: 14%; margin-right: 14%">
        <div class="card-body p-5">
          <h5 class="card-title">Vinay Desai</h5>
          <p class="card-text">Secretary</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card border-dark mt-4 mb-4 text-center team" style="margin-left: 14%; margin-right: 14%">
        <div class="card-body p-5">
          <h5 class="card-title">Ajay J</h5>
          <p class="card-text">Coordinator</p>
        </div>
      </div>
    </div>
  </div>

  <!--graphic design-->
  <!--gd chair-->
  <h1 class="mt-5 mb-4 text-center">Graphic Design</h1>
  <div class="row">
    <div class="col">
      <div class="card border-dark mt-4 mb-4 text-center team head" style="margin-left: 14%; margin-right: 14%">
        <div class="card-body p-5">
          <h5 class="card-title">Nivedita Kulkarnni</h5>
          <p class="card-text">President</p>
        </div>
      </div>
    </div>
  </div>

  <!--art forum-->
  <!--art forum chair-->
  <h1 class="mt-5 mb-4 text-center">Art Forum</h1>
  <div class="row">
    <div class="col">
      <div class="card border-dark mt-4 mb-4 text-center team head" style="margin-left: 14%; margin-right: 14%">
        <div class="card-body p-5">
          <h5 class="card-title">Aditya Shetty</h5>
          <p class="card-text">President</p>
        </div>
      </div>
    </div>
  </div>

  <!--WEB-->
  <!--web chair and gen-->
  <h1 class="mt-5 mb-4 text-center">Web Development</h1>
  <div class="row">
    <div class="col">
      <div class="card border-dark mt-4 mb-4 text-center team head" style="margin-left: 14%; margin-right: 14%">
        <div class="card-body p-5">
          <h5 class="card-title">Manoj Kumar A</h5>
          <p class="card-text">President</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card border-dark mt-4 mb-4 text-center team" style="margin-left: 14%; margin-right: 14%">
        <div class="card-body p-5">
          <h5 class="card-title">Mohammed Rayan Sailani</h5>
          <p class="card-text">Joint Secretary</p>
        </div>
      </div>
    </div>
  </div>
  <!--lit-->
  <!--lit both-->
  <h1 class="mt-5 mb-4 text-center">Literary Club</h1>
  <div class="row">
    <div class="col">
      <div class="card border-dark mt-4 mb-4 text-center team" style="margin-left: 14%; margin-right: 14%">
        <div class="card-body p-5">
          <h5 class="card-title">Anisha K S</h5>
          <p class="card-text">Joint Secretary</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card border-dark mt-4 mb-4 text-center team" style="margin-left: 14%; margin-right: 14%">
        <div class="card-body p-5">
          <h5 class="card-title">Saurabh S Bharadwaj</h5>
          <p class="card-text">Joint Secretary</p>
        </div>
      </div>
    </div>
  </div>

  <!---------RepCOM-------->
  <h1 class="mt-5 mb-4 text-center">Representative Committee</h1>
  <div class="row">
    <div class="col">
      <div class="card border-dark mt-4 mb-4 text-center team" style="margin-left: 14%; margin-right: 14%">
        <div class="card-body p-5">
          <h5 class="card-title">Keerthi N C</h5>
          <p class="card-text">RepCom Member</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card border-dark mt-4 mb-4 text-center team" style="margin-left: 14%; margin-right: 14%">
        <div class="card-body p-5">
          <h5 class="card-title">Shubham N J</h5>
          <p class="card-text">RepCom Member</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card border-dark mt-4 mb-4 text-center team" style="margin-left: 14%; margin-right: 14%">
        <div class="card-body p-5">
          <h5 class="card-title">Srinidhi S Prasad</h5>
          <p class="card-text">RepCom Member</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card border-dark mt-4 mb-4 text-center team" style="margin-left: 14%; margin-right: 14%">
        <div class="card-body p-5">
          <h5 class="card-title">Kavya Bhat</h5>
          <p class="card-text">RepCom Member</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card border-dark mt-4 mb-4 text-center team" style="margin-left: 14%; margin-right: 14%">
        <div class="card-body p-5">
          <h5 class="card-title">Shriya A</h5>
          <p class="card-text">RepCom Member</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card border-dark mt-4 mb-4 text-center team" style="margin-left: 14%; margin-right: 14%">
        <div class="card-body p-5">
          <h5 class="card-title">Kruthin N</h5>
          <p class="card-text">RepCom Member</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card border-dark mt-4 mb-4 text-center team" style="margin-left: 14%; margin-right: 14%">
        <div class="card-body p-5">
          <h5 class="card-title">Mohith Varma VS</h5>
          <p class="card-text">RepCom Member</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card border-dark mt-4 mb-4 text-center team" style="margin-left: 14%; margin-right: 14%">
        <div class="card-body p-5">
          <h5 class="card-title">Shrinidhi P</h5>
          <p class="card-text">RepCom Member</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card border-dark mt-4 mb-4 text-center team" style="margin-left: 14%; margin-right: 14%">
        <div class="card-body p-5">
          <h5 class="card-title">Neha H</h5>
          <p class="card-text">RepCom Member</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card border-dark mt-4 mb-4 text-center team" style="margin-left: 14%; margin-right: 14%">
        <div class="card-body p-5">
          <h5 class="card-title">Nilkant Bharat Gunjote</h5>
          <p class="card-text">RepCom Member</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card border-dark mt-4 mb-4 text-center team" style="margin-left: 14%; margin-right: 14%">
        <div class="card-body p-5">
          <h5 class="card-title">Sukhada G Rao</h5>
          <p class="card-text">RepCom Member</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card border-dark mt-4 mb-4 text-center team" style="margin-left: 14%; margin-right: 14%">
        <div class="card-body p-5">
          <h5 class="card-title">Kalyan K R</h5>
          <p class="card-text">RepCom Member</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card border-dark mt-4 mb-4 text-center team" style="margin-left: 14%; margin-right: 14%">
        <div class="card-body p-5">
          <h5 class="card-title">Kishan S T</h5>
          <p class="card-text">RepCom Member</p>
        </div>
      </div>
    </div>
  </div>

  <!--civil repcom-->
  <h1 class="mt-5 mb-4 text-center">Civil Representatives</h1>
  <div class="row">
    <div class="col">
      <div class="card border-dark mt-4 mb-4 text-center team" style="margin-left: 14%; margin-right: 14%">
        <div class="card-body p-5">
          <h5 class="card-title">Deeksha Kalkatte L</h5>
          <p class="card-text">RepCom Member</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card border-dark mt-4 mb-4 text-center team" style="margin-left: 14%; margin-right: 14%">
        <div class="card-body p-5">
          <h5 class="card-title">Deepak K S</h5>
          <p class="card-text">RepCom Member</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card border-dark mt-4 mb-4 text-center team" style="margin-left: 14%; margin-right: 14%">
        <div class="card-body p-5">
          <h5 class="card-title">Kalyan Kumar P</h5>
          <p class="card-text">RepCom Member/p></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card border-dark mt-4 mb-4 text-center team" style="margin-left: 14%; margin-right: 14%">
        <div class="card-body p-5">
          <h5 class="card-title">Karthik K S</h5>
          <p class="card-text">RepCom Member</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card border-dark mt-4 mb-4 text-center team" style="margin-left: 14%; margin-right: 14%">
        <div class="card-body p-5">
          <h5 class="card-title">Rajendraprasad G C</h5>
          <p class="card-text">RepCom Member</p>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}