{% extends "base.html" %}
{% load static %}
{% block content %}

{% for info in tweet_info %}
<section id="skills" class="skills" style="position: relative;">
    <div class="section-title" style="padding:1rem !important">
        <h2>{{info.name}}</h2>
        <p>@{{info.handle}}</p>
    </div>
    <div class="tw_flex">
        {% for tweet in info.tweets %}
        <!-- <p data-aos="fade-up" style="background: red !important;">{{tweet.full_text | linebreaks}}</p> -->
        <div class="tw_para">
            <p>{{tweet.full_text|linebreaks|urlize}}</p>
            <p>{{tweet.created_at}}</p>
        </div>
        {% endfor %}
        <div class="see-more-button">
            <a href="{{info.more}}" target="_blank" class="btn btn-info btn-block my-4"
                style="background-color: #37517e;">See more</a>
        </div>
    </div>
</section>
{% endfor %}

<!-- Style part -->
<style>
    .tw_flex {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .tw_para {
        padding: 25px;
        text-align: left;
        width: 70vw;
        border: 2px solid gray;
        border-radius: 5px;
        margin-top: 20px;
        box-shadow: 8px 8px rgb(27, 49, 75);
    }

    @media screen and (max-width:480px) {
        .tw_para {
            width: 80vw;
        }
    }
</style>
<!-- End of style part -->
{% endblock %}