{% extends 'base.html' %}
{% load static %}
{% block venobox %}
<link rel="stylesheet" href="{% static 'vendor/venobox/venobox.min.css' %}">
<script src="{% static 'vendor/venobox/venobox.min.js'  %}"></script>
{% endblock %}
{% block content %}

<!-- Gallery section-->
<section id="Gallery" class="Gallery" style="margin-top:0px;">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <div class="row-lg-">
                <div class="col-lg-">
                    <h2 style="">Gallery</h2>
                </div>
            </div>
        </div>

        <div class="row Gallery-container m-3" data-aos="fade-up" data-aos-delay="200">

            <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                <div class="Gallery-img">
                    <a href="{% static 'img/gallery-images/gallery_1.webp' %}" data-gall="GalleryGallery"
                        class="venobox preview-link">
                        <img src="{% static 'img/gallery-images/gallery_1.webp' %}" class="img-fluid" alt="">
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                <div class="Gallery-img">
                    <a href="{% static 'img/gallery-images/gallery_2.webp' %}" data-gall="GalleryGallery"
                        class="venobox preview-link">
                        <img src="{% static 'img/gallery-images/gallery_2.webp' %}" class="img-fluid" alt="">
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                <div class="Gallery-img">
                    <a href="{% static 'img/gallery-images/gallery_3.webp' %}" data-gall="GalleryGallery"
                        class="venobox preview-link">
                        <img src="{% static 'img/gallery-images/gallery_3.webp' %}" class="img-fluid" alt="">
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                <div class="Gallery-img">
                    <a href="{% static 'img/gallery-images/gallery_4.webp' %}" data-gall="GalleryGallery"
                        class="venobox preview-link">
                        <img src="{% static 'img/gallery-images/gallery_4.webp' %}" class="img-fluid" alt="">
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                <div class="Gallery-img">
                    <a href="{% static 'img/gallery-images/gallery_5.webp' %}" data-gall="GalleryGallery"
                        class="venobox preview-link">
                        <img src="{% static 'img/gallery-images/gallery_5.webp' %}" class="img-fluid" alt="">
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                <div class="Gallery-img">
                    <a href="{% static 'img/gallery-images/gallery_6.webp' %}" data-gall="GalleryGallery"
                        class="venobox preview-link">
                        <img src="{% static 'img/gallery-images/gallery_6.webp' %}" class="img-fluid" alt=""
                            loading="lazy">
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                <div class="Gallery-img">
                    <a href="{% static 'img/gallery-images/gallery_7.webp' %}" data-gall="GalleryGallery"
                        class="venobox preview-link">
                        <img src="{% static 'img/gallery-images/gallery_7.webp' %}" class="img-fluid" alt=""
                            loading="lazy">
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                <div class="Gallery-img">
                    <a href="{% static 'img/gallery-images/gallery_8.webp' %}" data-gall="GalleryGallery"
                        class="venobox preview-link">
                        <img src="{% static 'img/gallery-images/gallery_8.webp' %}" class="img-fluid" alt=""
                            loading="lazy">
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                <div class="Gallery-img">
                    <a href="{% static 'img/gallery-images/gallery_9.webp' %}" data-gall="GalleryGallery"
                        class="venobox preview-link">
                        <img src="{% static 'img/gallery-images/gallery_9.webp' %}" class="img-fluid" alt=""
                            loading="lazy">
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                <div class="Gallery-img">
                    <a href="{% static 'img/gallery-images/gallery_10.webp' %}" data-gall="GalleryGallery"
                        class="venobox preview-link">
                        <img src="{% static 'img/gallery-images/gallery_10.webp' %}" class="img-fluid" alt=""
                            loading="lazy">
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                <div class="Gallery-img">
                    <a href="{% static 'img/gallery-images/gallery_11.webp' %}" data-gall="GalleryGallery"
                        class="venobox preview-link">
                        <img src="{% static 'img/gallery-images/gallery_11.webp' %}" class="img-fluid" alt=""
                            loading="lazy">
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                <div class="Gallery-img">
                    <a href="{% static 'img/gallery-images/gallery_12.webp' %}" data-gall="GalleryGallery"
                        class="venobox preview-link">
                        <img src="{% static 'img/gallery-images/gallery_12.webp' %}" class="img-fluid" alt=""
                            loading="lazy">
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                <div class="Gallery-img">
                    <a href="{% static 'img/gallery-images/gallery_13.webp' %}" data-gall="GalleryGallery"
                        class="venobox preview-link">
                        <img src="{% static 'img/gallery-images/gallery_13.webp' %}" class="img-fluid" alt=""
                            loading="lazy">
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                <div class="Gallery-img">
                    <a href="{% static 'img/gallery-images/gallery_14.webp' %}" data-gall="GalleryGallery"
                        class="venobox preview-link">
                        <img src="{% static 'img/gallery-images/gallery_14.webp' %}" class="img-fluid" alt=""
                            loading="lazy">
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                <div class="Gallery-img">
                    <a href="{% static 'img/gallery-images/gallery_15.webp' %}" data-gall="GalleryGallery"
                        class="venobox preview-link">
                        <img src="{% static 'img/gallery-images/gallery_15.webp' %}" class="img-fluid" alt=""
                            loading="lazy">
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                <div class="Gallery-img">
                    <a href="{% static 'img/gallery-images/gallery_16.webp' %}" data-gall="GalleryGallery"
                        class="venobox preview-link">
                        <img src="{% static 'img/gallery-images/gallery_16.webp' %}" class="img-fluid" alt=""
                            loading="lazy">
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                <div class="Gallery-img">
                    <a href="{% static 'img/gallery-images/gallery_17.webp' %}" data-gall="GalleryGallery"
                        class="venobox preview-link">
                        <img src="{% static 'img/gallery-images/gallery_17.webp' %}" class="img-fluid" alt=""
                            loading="lazy">
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                <div class="Gallery-img">
                    <a href="{% static 'img/gallery-images/gallery_18.webp' %}" data-gall="GalleryGallery"
                        class="venobox preview-link">
                        <img src="{% static 'img/gallery-images/gallery_18.webp' %}" class="img-fluid" alt=""
                            loading="lazy">
                    </a>
                </div>
            </div>



        </div>
</section>

{% endblock %}