{% extends 'base.html' %} {% load static %}
{% block venobox %}
<link rel="stylesheet" href="{% static 'vendor/venobox/venobox.min.css' %}">
<script src="{% static 'vendor/venobox/venobox.min.js'  %}"></script>
{% endblock %}
{% block content %}

<main id="main">
    <!-- Gallery section-->
    <main id="main">

        <section id="Gallery" class="Gallery">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <div class="row-lg-">
                        <div class="col-lg-">
                            <h2 style="margin-top: 80px;">Gallery</h2>
                        </div>
                    </div>

                    <!-- 
                <ul id="Gallery-flters" class="d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
                    <li data-filter="*" class="filter-active">All</li>
                    <li data-filter=".filter-app">App</li>
                    <li data-filter=".filter-card">Card</li>
                    <li data-filter=".filter-web">Web</li>
                </ul> -->

                    <div class="row Gallery-container" data-aos="fade-up" data-aos-delay="200">

                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/gallery1.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/gallery1.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>

                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/gallery2.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/gallery2.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>

                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/gallery3.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/gallery3.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>

                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/gallery4.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/gallery4.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>

                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/gallery5.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/gallery5.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>

                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/gallery6.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/gallery6.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>

                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/gallery7.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/gallery7.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>

                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/gallery8.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/gallery8.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/gallery9.webp' %}"0 data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/gallery9.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>


                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/gallery10.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/gallery10.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>

                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/gallery11.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/gallery11.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>

                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/gallery12.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/gallery12.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>

                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/gallery13.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/gallery13.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>

                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/gallery14.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/gallery14.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>

                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/gallery15.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/gallery15.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>

                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/gallery16.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/gallery16.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/gallery17.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/gallery17.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/gallery18.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/gallery18.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/gallery19.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/gallery19.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/gallery20.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/gallery20.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/gallery21.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/gallery21.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/gallery22.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/gallery22.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/gallery23.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/gallery23.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/gallery24.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/gallery24.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/gallery25.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/gallery25.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/gallery26.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/gallery26.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/gallery27.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/gallery27.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/gallery28.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/gallery28.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/gallery29.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/gallery29.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/gallery30.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/gallery30.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/gallery31.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/gallery31.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/gallery32.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/gallery32.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/gallery33.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/gallery33.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/gallery34.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/gallery34.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/gallery35.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/gallery35.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/gallery36.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/gallery36.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/gallery37.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/gallery37.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/gallery38.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/gallery38.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/gallery39.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/gallery39.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/gallery40.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/gallery40.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/gallery41.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/gallery41.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>





        </section>

        {% endblock %}