{% extends 'base.html' %} {% load static %}
{% block venobox %}
<link rel="stylesheet" href="{% static 'vendor/venobox/venobox.min.css' %}">
<script src="{% static 'vendor/venobox/venobox.min.js'  %}"></script>
{% endblock %}
{% block content %}

<main id="main">
    <!-- Gallery section-->
    <main id="main">

        <section id="Gallery" class="Gallery">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <div class="row-lg-">
                        <div class="col-lg-">
                            <h2 style="margin-top: 80px;">Gallery</h2>
                        </div>
                    </div>

                    <!-- 
                <ul id="Gallery-flters" class="d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
                    <li data-filter="*" class="filter-active">All</li>
                    <li data-filter=".filter-app">App</li>
                    <li data-filter=".filter-card">Card</li>
                    <li data-filter=".filter-web">Web</li>
                </ul> -->

                    <div class="row Gallery-container" data-aos="fade-up" data-aos-delay="200">

                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/Gallery1.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/Gallery1.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>

                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/Gallery2.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/Gallery2.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>

                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/Gallery3.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/Gallery3.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>

                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/Gallery4.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/Gallery4.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>

                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/Gallery5.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/Gallery5.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>

                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/Gallery6.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/Gallery6.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>

                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/Gallery7.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/Gallery7.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>

                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/Gallery8.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/Gallery8.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/Gallery9.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/Gallery9.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>


                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/Gallery10.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/Gallery10.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>

                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/Gallery11.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/Gallery11.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>

                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/Gallery12.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/Gallery12.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>

                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/Gallery13.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/Gallery13.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>

                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/Gallery14.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/Gallery14.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>

                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/Gallery15.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/Gallery15.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>

                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/Gallery16.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/Gallery16.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/Gallery17.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/Gallery17.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/Gallery18.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/Gallery18.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/Gallery19.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/Gallery19.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/Gallery20.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/Gallery20.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/Gallery21.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/Gallery21.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/Gallery22.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/Gallery22.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/Gallery23.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/Gallery23.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/Gallery24.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/Gallery24.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/Gallery25.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/Gallery25.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/Gallery26.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/Gallery26.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/Gallery27.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/Gallery27.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/Gallery28.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/Gallery28.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/Gallery29.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/Gallery29.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/Gallery30.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/Gallery30.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/Gallery31.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/Gallery31.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/Gallery32.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/Gallery32.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/Gallery33.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/Gallery33.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/Gallery34.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/Gallery34.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/Gallery35.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/Gallery35.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/Gallery36.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/Gallery36.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/Gallery37.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/Gallery37.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/Gallery38.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/Gallery38.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/Gallery39.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/Gallery39.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/Gallery40.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/Gallery40.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 Gallery-item filter-web">
                            <div class="Gallery-img">
                                <a href="{% static 'img/gallery-2022/Gallery41.webp' %}" data-gall="GalleryGallery"
                                    class="venobox preview-link">
                                    <img src="{% static 'img/gallery-2022/Gallery41.webp' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div style="height: 50px;"></div>
                        </div>





        </section>

        {% endblock %}